header {
    @include tamanhos(115px, 100%);
    @include displayFlex($justify: center);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);

    #itens-header {
        @extend .conteudo;
        @include displayFlex($justify: space-between, $align: center);

        #logo {
            @include tamanhos(93px, 260px);
            align-self: center;

            img {
                @include tamanhos(inherit, inherit);
                margin-top: 7px;
            }
        }
        
        #atalhos {
            @include tamanhos(inherit, 170px);
            @include displayFlex(row, space-between, center);

            img {
                @include tamanhos(32px, 32px);
                border-radius: 50%;
            }

            #atalhos-perfil {
                @include tamanhos(90px, 120px);
                @include displayFlex(row, space-between, center);

                #foto {
                    @include tamanhos(inherit, 90px);
                }

                #seta-baixo {
                    @include tamanhos(24px, 24px);
                }
            }
        }
    }
}