header {
    @include tamanhos(115px, 100%);
    @include displayFlex($justify: center);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);

    #itens-header {
        @extend .conteudo;
        @include displayFlex($justify: space-between, $align: center);

        #logo {
            @include tamanhos(83px, 260px);
            align-self: center;

            img {
                @include tamanhos(inherit, inherit);
                margin-top: 7px;
            }
        }

        #lupa-atalhos {
            @include tamanhos(inherit, 730px);
            @include displayFlex(row, space-between, center);

            #lupa-pesquisa {
                @include tamanhos(inherit, 503px);
                @include displayFlex($justify: center, $align: center);
                position: relative;
    
                img {
                    @include tamanhos(30px, 30px);
                    position: absolute;
                    left: 14px;
                    bottom: 43px;
                }
    
                input {
                    @include tamanhos(60px, inherit);
                    border-radius: 20px;
                    padding-left: 50px;
                    @include textoEstilo(grau8, medium,  $text);
                    border: 2px solid $border;
    
                    ::-webkit-input-placeholder {
                        color: $placeholder;
                    }
                }
            }
    
            #atalhos {
                @include tamanhos(inherit, 170px);
                @include displayFlex(row, space-between, center);
    
                img {
                    @include tamanhos(32px, 32px);
                }
    
                #atalhos-perfil {
                    @include tamanhos(90px, 120px);
                    @include displayFlex(row, space-between, center);
    
                    #foto {
                        @include tamanhos(inherit, 90px);
                    }
    
                    #seta-baixo {
                        @include tamanhos(24px, 24px);
                    }
                }
            }
        }
    }
}