.modal {
    @include tamanhos(100%, 100%);
    @include displayFlex(row, center, center);
    position: fixed;
    top: 0;
    left: 0;
    background: #00000090;
    opacity: 0;
    z-index: -1;

    .modal-close {
        @include tamanhos(30px, 30px);
        @include displayFlex(row, center, center);
        user-select: none;
        cursor: pointer;
        border-radius: 50%;
        align-self: flex-start;

        &:hover {
            background-color: #ff4949;
            color: white;
        }
    }

    .modal-conteudo {
        @include tamanhos(750px, 1203px);
        @include displayFlex(column, $align: center);
        margin: 5vh auto;
        padding: 20px;
        background-color: white;
        box-shadow: 1px 1px 10px black;
        border-radius: 20px;
    
        #informacoes {
            @include tamanhos(650px, 995px);
            @include displayFlex(row, space-between);
    
            #esquerda-informacoes {
                @include tamanhos(inherit, 513px);
                @include displayFlex(column);
                position: relative;
    
                h1 {
                    @include textoEstilo(grau4, semiBold, $text);
                }
    
                img {
                    @include tamanhos(534px, 473px);
                    position: absolute;
                    bottom: 0;
                }
            }
    
            #direita-informacoes {
                @include tamanhos(inherit, 427px);
                @include displayFlex(column, $gap: 50px);
    
                #direita-contatos {
                    width: inherit;
                    @include displayFlex(column);
    
                    h2 {
                        @include textoEstilo(grau6, semiBold, $text);
                        margin-bottom: 20px;
                    }
    
                    .caixa {
                        @include displayFlex(row);
                        margin-top: 15px;
    
                        span {
                            @include textoEstilo(grau8, medium, $text);
                            margin-right: 10px;
                        }
    
                        h3 {
                            @include textoEstilo(grau8, semiBold, $text)
                        }
                    }
                }
    
                #direita-meios-doacoes {
                    width: inherit;
                    @include displayFlex(row, $align: center);
                    position: relative;
    
                    #direita-meios {
                        @include displayFlex(column);
    
                        h2 {
                            @include textoEstilo(grau6, semiBold, $text);
                            margin-bottom: 20px;
                        }
    
                        .caixa {
                            @include displayFlex(row);
                            margin-top: 15px;
    
                            span {
                                @include textoEstilo(grau8, medium, $text);
                                margin-right: 10px;
                            }
    
                            h3 {
                                @include textoEstilo(grau8, semiBold, $text)
                            }
                        }

                        #esquerda-imagem {
                            @include tamanhos(96px, 115px);
                            background-color: $tartOrange;
                            margin-left: 35px;
                            position: absolute;
                            right: 0;
                            top: 35%;
        
                            img {
                                @include tamanhos(inherit, inherit);
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal.active {
    opacity: 1;
    z-index: 1;
}