@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    height: 100vh;
    @include displayFlex(column);
    font-family: 'Montserrat', sans-serif;
}

.conteudo {
    @include tamanhos(inherit, 1440px);
    @include displayFlex(row, space-between, center);
}

#topo {
    @include tamanhos(100px, 100%);
    @include displayFlex(row, center, center);

    #logo-img {
        @include tamanhos(inherit, auto);
        @include displayFlex(row, center, center);
        padding-top: 15px;
    }

    #botao-doar{
        @include tamanhos(60px, 165px);
    
        button{
            @include tamanhos (inherit, inherit);
            @include displayFlex(row, space-around, center);
            @include textoEstilo (grau7, semiBold, $text);
            background-color: $deepSaffron;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            padding: 0 10px 0 10px;
            transition: .5s;

            img {
                @include tamanhos(44px, 44px);
            }

            &:hover {
                transition: .5s;
                opacity: 0.8;
            }

        }
    }
}

#conteudoTodo{
    width: 100%;
    flex-grow: 1;
    @include displayFlex(row, space-between);
    margin-top: 35px;

    #esquerda {
        @include tamanhos(inherit, 65vw);
        @include displayFlex(column, space-between);
        padding-top: 25px;

        #titulos-esquerda {
            @include tamanhos(188px, 848px);    
            @include displayFlex(column);
            padding-left: 65px;

            h1 {
                @include textoEstilo(grau3, bold, $deepSaffron); 
            }
        
            h3 {
                @include textoEstilo(grau8, medium, $text);
                padding-top: 20px;
         
            }
        }

        #fundo-img {
            @include tamanhos(435px, inherit);
            background-color: grey;

            img {
                @include tamanhos(inherit, inherit);
            }
        }
    }

    #direita{
        @include tamanhos(inherit, 646px);
        @include displayFlex(row);
    
        #cadastro {
            @include tamanhos (645px, 480px);
            border: 1px solid $text;
            border-radius: 5px;
            padding: 30px;
    
            h2 {
                @include textoEstilo(grau6, semiBold, $text,);
            }
    
            form {
                position: relative;
                padding-top: 35px;
                
                div + div {
                    margin-top: 1em;
                }
            
    
                input {
                    border:1px solid $placeholder;
                    border-radius:5px;
                    padding-left: 50px;
                    @include tamanhos(65px, 400px);
                    @include textoEstilo(grau7, medium, $ligthBlack);
                    background-color: $input;
                }

                img{
                    position: absolute;
                    left: 0%;
                    padding-left: 10px;
                    padding-top: 15px;
                }
                
            }
    
            p {
                @include textoEstilo(grau12, medium, $text);
                margin-top: 25px;
                margin-bottom: 25px;
            }
    
            span {
                color: $mellowApricot;
                cursor: pointer;
                font-weight: map-get($densidade, bold);
            }
    
            h3 {
                text-align: center;
                margin-top: 20px;
                font-size: 1.2rem;
            }
    
        }
    
        #btn-continuar{
            @include tamanhos (60px, inherit);
            @include displayFlex(row, center, center);
            
            button{
                background-color: $deepSaffron;
                border-radius:35px;
                @include tamanhos (60px, 210px);
                @include textoEstilo (grau6, semiBold, $text);
                cursor: pointer;
                transition: .5s;

                &:hover {
                    transition: .5s;
                    opacity: 0.8;
                }
            }
        }
    
    }
}