@import '_variaveis';
@import '_mixins';
@import '_resert';
@import '_modalMessage';

body {
    @include displayFlex(column);
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/Fundo.png');
    background-repeat: no-repeat;
    background-size: 61.20vw;
    background-position-y: 405px;
}

.conteudo {
    @include tamanhos(inherit, 1400px);
}

#topo {
    @include tamanhos(130px, 100%);
    @include displayFlex($justify: center);

    #itens-topo {
        @extend .conteudo;
        @include displayFlex(row, space-between, center);

        #logo-img {
            @include tamanhos(inherit, auto);
            @include displayFlex(row, center, center);
            padding-top: 10px;
        }
    
        #botao-doar{
            @include tamanhos(60px, 165px);
        
            button{
                @include tamanhos (inherit, inherit);
                @include displayFlex(row, space-around, center);
                @include textoEstilo (grau7, semiBold, $text);
                background-color: $deepSaffron;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                padding: 0 10px 0 10px;
                transition: .5s;
    
                img {
                    @include tamanhos(44px, 44px);
                }
    
                &:hover {
                    transition: .5s;
                    opacity: 0.8;
                }
    
            }
        }
    }
}

#conteudoTodo{
    width: 100%;
    flex-grow: 1;
    @include displayFlex($justify: center);

    #itens-todo {
        @extend .conteudo;
        @include displayFlex(row, space-between);
    }

    #esquerda {
        @include tamanhos(inherit, 65vw);
        @include displayFlex(column, space-between);

        #titulos-esquerda {
            @include tamanhos(188px, 848px);    
            @include displayFlex(column, $gap: 15px);
            padding-left: 23px;
            margin-top: 45px;

            h1 {
                @include textoEstilo(grau3, bold, $deepSaffron); 
            }
        
            h3 {
                @include textoEstilo(grau8, medium, $text);        
            }
        }
    }

    #direita{
        @include tamanhos(inherit, 510px);
        @include displayFlex(row);
        padding-top: 15px;
        margin-bottom: 15px;
    
        #cadastro {
            @include tamanhos (760px, inherit);
            @include displayFlex(column, $align: center);
            border: 1px solid $text;
            border-radius: 5px;
            padding: 30px 25px;
    
            h2 {
                @include textoEstilo(grau6, semiBold, $text,);
                align-self: flex-start;
                margin-left: 5px;
            }
    
            form {
                @include tamanhos(640px, 445px);
                @include displayFlex(column);
                padding-top: 30px;
                
                div + div {
                    margin-top: 0.5rem;  
                }
            
                .style-input {
                    @include tamanhos(85px, inherit);
                    @include displayFlex(column);
                    position: relative;

                    input {
                        border-radius:5px;
                        padding-left: 50px;
                        padding-right: 83px;
                        @include tamanhos(65px, inherit);
                        font-size: 1.480rem;
                        background-color: $input;
                    }
    
                    img {
                        @include tamanhos(30px, 30px);
                        cursor: pointer;
                    }
    
                    .icone {
                        position: absolute;
                        left: 10px;
                        top: 15px;
                    }

                    .olho {
                        position: absolute;
                        right: 15px;
                        top: 17px;
                    }

                    .icone-validation {
                        position: absolute;
                        right: 10px;
                        top: 17px;
                        visibility: hidden;
                    }

                    .pass-ajuste {
                        position: absolute;
                        right: 52px;
                        top: 17px;
                        visibility: hidden;
                    }

                    small {
                        visibility: hidden; 
                        font-size: 1.2rem;
                        color: $tartOrange;
                        font-weight: map-get($densidade, medium);
                        margin-left: 10px;
                    }
                }
                
            }
    
            p {           
                @include textoEstilo(grau12, medium, $text);
                margin: 10px 0 15px;
            }
    
            span {
                cursor: pointer;
                font-weight: map-get($densidade, bold);
                color: $mellowApricot;

                a {
                    color: $mellowApricot;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
    
            h3 {
                text-align: center;
                font-size: 1.2rem;
                margin-top: 1.2rem;
            }
    
        }
    
        #btn-continuar{
            @include tamanhos (60px, inherit);
            @include displayFlex(row, center, center);
            
            button{
                background-color: $deepSaffron;
                border-radius:35px;
                @include tamanhos (60px, 210px);
                @include textoEstilo (grau6, semiBold, $text);
                cursor: pointer;
                transition: .5s;

                &:hover {
                    transition: .5s;
                    opacity: 0.8;
                }
            }
        }
    
    }
}

.style-input.sucess input {
    border: 2px solid $verde;
    outline: none;
}

.style-input.error input {
    border: 2px solid $tartOrange;
}

.style-input.sucess i .img-sucess {
    visibility: visible;
}

.style-input.error i .img-error {
    visibility: visible;
}

#conteudoTodo 
#direita 
#cadastro
form 
.style-input.error 
small {
    visibility: visible;
}