* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

#topo {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#logo-img {
  padding-top: 15px;
  padding-left: 50px;
}

#logo-img img {
  height: 120px;
  width: 350px;
}

#img-btnDoar {
  position: absolute;
  left: 0%;
  padding-left: 15px;
}

.btn {
  padding-left: 40px;
  cursor: pointer;
}

#botao-doar {
  position: relative;
  padding-right: 215px;
  padding-top: 50px;
  cursor: pointer;
}

#botao-doar button {
  background-color: #FF9F45;
  border: 1px solid #CCCCCC;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#conteudoTodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#titulos-esquerda {
  padding-left: 100px;
  padding-top: 100px;
}

#titulos-esquerda h1 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #FF9F45;
  text-transform: none;
  letter-spacing: none;
}

#titulos-esquerda h3 {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 20px;
}

#fundo-img {
  padding-top: 120px;
}

#fundo-img img {
  height: 850px;
  width: 70vw;
}

#direita {
  padding-right: 195px;
  padding-top: 90px;
}

#direita #cadastro {
  height: 800px;
  width: 580px;
  border: 1px solid #292929;
  border-radius: 5px;
  padding-top: 70px;
  padding-left: 40px;
}

#direita #cadastro h2 {
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#direita #cadastro form {
  position: relative;
  padding-top: 35px;
}

#direita #cadastro form div + div {
  margin-top: 1em;
}

#direita #cadastro form input {
  border: 1px solid #8C8C8C;
  border-radius: 5px;
  padding-left: 50px;
  height: 65px;
  width: 498px;
  font-size: 1.563rem;
  font-weight: 500;
  color: #434343;
  text-transform: none;
  letter-spacing: none;
  background-color: #ECECEC;
}

#direita #cadastro form img {
  position: absolute;
  left: 0%;
  padding-left: 10px;
  padding-top: 15px;
}

#direita #cadastro p {
  padding-top: 30px;
  padding-left: 5px;
  font-size: 0.75rem;
  font-weight: 300;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#direita #cadastro spam {
  color: #FFBC80;
  cursor: pointer;
}

#direita #cadastro h3 {
  padding-top: 40px;
  text-align: center;
}

#direita #btn-continuar {
  border: none;
  padding-top: 30px;
  text-align: center;
}

#direita #btn-continuar button {
  background-color: #FF9F45;
  border: 1px solid #CCCCCC;
  border-radius: 35px;
  height: 60px;
  width: 210px;
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}
/*# sourceMappingURL=cadastroOng.css.map */