* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/Fundo.png");
  background-repeat: no-repeat;
  background-size: 62.89vw;
  background-position: bottom left;
}

.conteudo, #topo #itens-topo, #conteudoTodo #itens-todo {
  height: inherit;
  width: 1400px;
}

#topo {
  height: 130px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#topo #itens-topo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#topo #itens-topo #logo-img {
  height: inherit;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-top: 10px;
}

#topo #itens-topo #botao-doar {
  height: 60px;
  width: 165px;
}

#topo #itens-topo #botao-doar button {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  background-color: #FF9F45;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 0 10px 0 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

#topo #itens-topo #botao-doar button img {
  height: 44px;
  width: 44px;
}

#topo #itens-topo #botao-doar button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#conteudoTodo {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#conteudoTodo #itens-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#conteudoTodo #esquerda {
  height: inherit;
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#conteudoTodo #esquerda #titulos-esquerda {
  height: 188px;
  width: 848px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  padding-left: 23px;
  margin-top: 45px;
}

#conteudoTodo #esquerda #titulos-esquerda h1 {
  font-size: 2.813rem;
  font-weight: 700;
  color: #FF9F45;
  text-transform: none;
  letter-spacing: none;
}

#conteudoTodo #esquerda #titulos-esquerda h3 {
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#conteudoTodo #direita {
  height: inherit;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-top: 15px;
}

#conteudoTodo #direita #cadastro {
  height: 645px;
  width: inherit;
  border: 1px solid #292929;
  border-radius: 5px;
  padding: 30px;
}

#conteudoTodo #direita #cadastro h2 {
  font-size: 2.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#conteudoTodo #direita #cadastro form {
  position: relative;
  padding-top: 35px;
}

#conteudoTodo #direita #cadastro form div + div {
  margin-top: 1em;
}

#conteudoTodo #direita #cadastro form input {
  border: 1px solid #8C8C8C;
  border-radius: 5px;
  padding-left: 50px;
  height: 65px;
  width: 400px;
  font-size: 1.813rem;
  font-weight: 500;
  color: #434343;
  text-transform: none;
  letter-spacing: none;
  background-color: #ECECEC;
}

#conteudoTodo #direita #cadastro form img {
  position: absolute;
  left: 0%;
  padding-left: 10px;
  padding-top: 15px;
}

#conteudoTodo #direita #cadastro p {
  font-size: 0.75rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  margin-top: 25px;
  margin-bottom: 25px;
}

#conteudoTodo #direita #cadastro span {
  color: #FFBC80;
  cursor: pointer;
  font-weight: 700;
}

#conteudoTodo #direita #cadastro h3 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

#conteudoTodo #direita #btn-continuar {
  height: 60px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#conteudoTodo #direita #btn-continuar button {
  background-color: #FF9F45;
  border-radius: 35px;
  height: 60px;
  width: 210px;
  font-size: 2.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#conteudoTodo #direita #btn-continuar button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}
/*# sourceMappingURL=cadastroUsuario.css.map */