@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    @include displayFlex(row, space-between);
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#direita {
    
    height: 100px;
    width: 900px;
    @include displayFlex(column, space-between, $gap: 20px);
    padding-top: 130px;
    padding-left: 200px;
    
}

#esquerda {
    background-color: red;
    height: 100px;
    width: 100px;
}

// @media (max-width: 1400px) {

//     #direita {
//         img {
//             display: none;
//         }
//     }
    
// }