* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

header {
  height: 115px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}

header #itens-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #logo {
  height: 93px;
  width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header #itens-header #logo img {
  height: inherit;
  width: inherit;
  margin-top: 7px;
}

header #itens-header #atalhos {
  height: inherit;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #atalhos img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

header #itens-header #atalhos #atalhos-perfil {
  height: 90px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #atalhos #atalhos-perfil #foto {
  height: inherit;
  width: 90px;
}

header #itens-header #atalhos #atalhos-perfil #seta-baixo {
  height: 24px;
  width: 24px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F9FA;
}

.conteudo, header #itens-header, main #itens-main {
  height: inherit;
  width: 1440px;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-bottom: 35px;
}

main #itens-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  margin-top: 45px;
}

main #itens-main #direita {
  min-height: 500px;
  height: auto;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

main #itens-main #direita #mini-perfil {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  cursor: pointer;
}

main #itens-main #direita #mini-perfil img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

main #itens-main #direita #mini-perfil h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

main #itens-main #direita #menu {
  height: 485px;
  width: 279px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 45px;
}

main #itens-main #direita #menu ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 15px 0 15px;
}

main #itens-main #direita #menu ul li {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

main #itens-main #direita #menu ul li:hover {
  background-color: #F8F9FA;
}

main #itens-main #direita #menu ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

main #itens-main #direita #menu ul li a {
  font-size: 1.563rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: -0.02px;
}

main #itens-main section {
  height: inherit;
  width: 1063px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

main #itens-main section #filtros-selects {
  height: 64px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

main #itens-main section #filtros-selects select {
  height: 64px;
  width: 405px;
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: -0.02em;
  border: 3px solid #CCCCCC;
  border-radius: 15px;
  padding: 0px 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  background: #fff url("../img/Icon-select.png") 95.5% 50% no-repeat;
}

main #itens-main section #filtros-selects select option {
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: -0.02em;
}

main #itens-main section #filtros-selects #filtro {
  height: inherit;
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  margin-right: 25px;
}

main #itens-main section #filtros-selects #filtro img {
  height: 33px;
  width: 32px;
}

main #itens-main section #filtros-selects #filtro span {
  font-size: 1.313rem;
  font-weight: 600;
  color: #FF9F45;
  text-transform: none;
  letter-spacing: -0.02em;
  cursor: pointer;
}

main #itens-main section table {
  height: 619px;
  width: 1063px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 55px;
  padding: 20px;
}

main #itens-main section table thead {
  height: 55px;
  width: 1016px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  border-radius: 8px;
  background-color: #F8F9FA;
}

main #itens-main section table thead .titulos-tabela {
  height: 55px;
  width: 245px;
  text-align: center;
  font-size: 1.400rem;
  font-weight: 600;
  text-transform: capitalize;
}

main #itens-main section table tbody {
  height: 444px;
  width: 1016px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  border-collapse: separate;
}

main #itens-main section table tbody tr {
  height: 64px;
  width: inherit;
}

main #itens-main section table tbody tr .resultados {
  height: 60px;
  width: 254px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  text-align: center;
  border-bottom: 3px solid #F8F9FA;
}

main #itens-main section table tbody tr .resultados a {
  text-decoration: underline;
}

main #itens-main section table tbody tr img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

main #itens-main section #setas {
  height: 32px;
  width: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: absolute;
  bottom: 35px;
  right: 55px;
}

main #itens-main section #setas .seta {
  height: inherit;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}

main #itens-main section #setas .seta img {
  height: 24px;
  width: 24px;
}
/*# sourceMappingURL=controles.css.map */