@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    min-height: 100vh;
    @include displayFlex(column);
    font-family: 'Montserrat', sans-serif;
    background-color: $background;
}

.conteudo {
    @include tamanhos(inherit, 90vw);
}

header {
    @include tamanhos(115px, 100%);
    @include displayFlex($justify: center);
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);

    #itens-header {
        @extend .conteudo;
        @include displayFlex($justify: space-between, $align: center);

        #logo {
            @include tamanhos(83px, 260px);
            align-self: center;

            img {
                @include tamanhos(inherit, inherit);
                margin-top: 7px;
            }
        }

        #lupa-atalhos {
            @include tamanhos(inherit, 730px);
            @include displayFlex(row, space-between, center);

            #lupa-pesquisa {
                @include tamanhos(inherit, 503px);
                @include displayFlex($justify: center, $align: center);
                position: relative;
    
                img {
                    @include tamanhos(30px, 30px);
                    position: absolute;
                    left: 12px;
                }
    
                input {
                    @include tamanhos(60px, inherit);
                    border-radius: 20px;
                    padding-left: 50px;
                    @include textoEstilo(grau8, medium,  $text);
                    border: 2px solid $border;
    
                    ::-webkit-input-placeholder {
                        color: $placeholder;
                    }
                }
            }
    
            #atalhos {
                @include tamanhos(inherit, 180px);
                @include displayFlex(row, space-between, center);
    
                img {
                    @include tamanhos(32px, 32px);
                }
    
                #atalhos-perfil {
                    @include tamanhos(90px, 132px);
                    @include displayFlex(row, space-between, center);
    
                    #foto {
                        @include tamanhos(inherit, 90px);
                    }
    
                    #seta-baixo {
                        @include tamanhos(24px, 24px);
                    }
                }
            }
        }
    }
}

main {
    width: 100%;
    flex-grow: 1;
    @include displayFlex($justify: center);

    #itens-main {
        @extend .conteudo;
        @include displayFlex($justify: space-between);
        margin-top: 45px;

        #direita {
            @include tamanhos(800px, 279px);
            @include displayFlex(column);

            #mini-perfil {
                @include tamanhos(112px, inherit);
                @include displayFlex($align: center);
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;

                img {
                    @include tamanhos(75px, 75px);
                    border-radius: 50%;
                    margin-left: 10px;
                    margin-right: 10px;
                }

                h3 {
                    @include textoEstilo(grau9, semiBold, $text, capitalize);
                    cursor: pointer;
                }
            }

            #menu {
                @include tamanhos(485px, 279px);
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;
                margin-top: 45px;

                ul {
                    @include tamanhos(inherit, inherit);
                    @include displayFlex(column, space-around);

                    li {
                        @include tamanhos(65px, inherit);
                        @include displayFlex(row);
                        background-color: $background;
                    }
                }
            }
        }
    }
}