@import '_variaveis';
@import '_mixins';
@import '_resert';
@import '_header';
@import '_modalDoacoes';
@import '_modalFiltro';

body {
    min-height: 100vh;
    @include displayFlex(column);
    font-family: 'Montserrat', sans-serif;
    background-color: $background;
}

.conteudo {
    @include tamanhos(inherit, 1440px);
}

main {
    width: 100%;
    flex-grow: 1;
    @include displayFlex($justify: center);

    #itens-main {
        @extend .conteudo;
        @include displayFlex(row, space-between, $wrap: wrap);
        margin-top: 45px;

        #direita {
            min-height: 500px;
            @include tamanhos(auto, 279px);
            @include displayFlex(column);

            #mini-perfil {
                @include tamanhos(112px, inherit);
                @include displayFlex($align: center);
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;
                cursor: pointer;

                img {
                    @include tamanhos(75px, 75px);
                    border-radius: 50%;
                    margin-left: 8px;
                    margin-right: 8px;
                    object-fit: cover;
                }

                h3 {
                    @include textoEstilo(grau9, semiBold, $text, capitalize);
                }
            }

            #menu {
                min-height: 200 px;
                @include tamanhos(auto, 279px);
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;
                margin-top: 45px;

                ul {
                    @include tamanhos(inherit, inherit);
                    @include displayFlex(column, $gap: 25px);
                    padding: 25px 0 25px;

                    li {
                        @include tamanhos(65px, inherit);
                        @include displayFlex(row-reverce, $align: center, $gap: 18px);
                        position: relative;

                        .barraActivity {
                            @include tamanhos(inherit, 3px);
                            background-color: $deepSaffron;
                            border-radius: 3px 3px;
                            left: -4px;
                            position: absolute;
                            opacity: 0;
                        }

                        .barraActivity.active {
                            opacity: 1;
                        }

                        &:hover {
                            background-color: $background;
                        }

                        img {
                            @include tamanhos(35px, 35px);
                            margin-left: 26px;
                        }

                        a {
                            display: block;
                            @include tamanhos(inherit, inherit);
                            @include displayFlex(row, $align: center);
                            @include textoEstilo(grau8, regular, $placeholder, capitalize, -0.02px);
                        }

                    }
                }
            }
        }

        #acoes {
            min-height: 600px;
            @include tamanhos(auto, 684px);

            #filtros-pesquisas {
                @include tamanhos(88px, inherit);
                @include displayFlex($gap: 45px);

                #estado {
                    @include tamanhos(88px, 417px);
                    @include displayFlex(column, space-between);

                    label {
                        @include textoEstilo(grau9, medium, $text, $letter: -0.02em);
                    }

                    select {
                        @include tamanhos(57px, 405px);
                        @include textoEstilo(grau9, medium, $placeholder, $letter: -0.02em);
                        border: 2px solid $border;
                        border-radius: 15px;
                        padding: 0px 15px;
                        align-self: flex-end;
                        appearance: none;
                        -moz-appearance: none;
                        background: #fff url('../img/Icon-select.png') 95.5% 50% no-repeat;

                        option {
                            @include textoEstilo(grau9, medium, $placeholder, $letter: -0.02em);
                        }
                    }
                }

                #filtro-conteudo {
                    @include tamanhos(inherit, 145px);
                    @include displayFlex(row, space-between, center);
                    padding-top: 27px;
                    margin-left: 35px;
                    cursor: pointer;
                    position: relative;

                    #botao-filtro {
                        @include tamanhos(auto, 145px);
                        @include displayFlex(row, space-between, center);
                    }

                    img {
                        @include tamanhos(33px, 32px);
                    }

                    span {
                        @include textoEstilo(grau8, semiBold, $text, $letter: -0.02em);  
                    }
                }
            }

            #resultados-pesquisas {
                min-height: 500px;
                @include tamanhos(auto, inherit);
                @include displayFlex(column);
                margin-top: 35px;
                margin-bottom: 20px;

                #resultadoQtda {
                    font-size: 0.85rem;
                    @include textoEstilo($pesoLetra: semiBold, $cor: $tartOrange, $case: capitalize, $letter: -0.02em);
                    margin-bottom: 15px;
                }

                #ongs {
                    @include tamanhos(inherit, inherit);
                    @include displayFlex(row, space-between, center, $wrap: wrap, $gap: 35px);

                    .ongs-card {
                        min-height: 242px;
                        @include tamanhos(auto, 203px);
                        @include displayFlex(column, $align: center);
                        position: relative;
                        background-color:#fff;
                        filter: $shadowMain;
                        border-radius: 20px;

                        .img-coracao {
                            @include tamanhos(17px, 20px);
                            align-self: flex-end;
                            margin-right: 20px;
                            margin-top: 13px;
                            cursor: pointer;
                        }

                        .img-ong {
                            @include tamanhos(90px, 90px);
                            border-radius: 50%;
                            margin-bottom: 8px;
                        }

                        h2 {
                            @include tamanhos(auto, inherit);
                            @include textoEstilo(grau11, semiBold, $text, capitalize, -0.02em);
                            text-align: center;
                        }

                        span {
                            @include textoEstilo(grau12, medium, $placeholder, $letter: -0.02em);
                            margin-top: 5px;
                        }

                        button {
                            @include tamanhos(42px, 203px);
                            @include textoEstilo($pesoLetra: medium, $cor: $placeholder, $case: uppercase, $letter: -0.02em);
                            position: absolute;
                            bottom: 0;
                            padding-top: -4px;
                            font-size: 23px;
                            background-color: #fff;
                            border-radius: 0 0 20px 20px;
                            border-top: 1px solid $background;
                            cursor: pointer;
                            transition: .5s;
                            z-index: 2;
                            overflow: hidden;
                            color: $text;

                            &::after {
                                content: "";
                                width: 100%;
                                height: 100%;
                                background-color: $deepSaffron;
                                position: absolute;
                                left: 0;
                                bottom: -100%;
                                opacity: 0;
                                z-index: -1;
                                border-radius: 0 0 20px 20px;
                            }

                            &:hover:after{
                                transition: .5s;
                                bottom: 0;
                                z-index: -1;
                                opacity: 1;
                            }
                        }
                    }
                }

                #info-paginacao {
                    @include tamanhos(32px, 130px);
                    @include displayFlex(row, space-between, center);
                    margin-top: 20px;
                    margin-right: 25px;
                    align-self: flex-end;

                    span {
                        @include textoEstilo($pesoLetra: semiBold);
                    }  

                    #setas {
                        @include tamanhos(inherit, 80px);
                        @include displayFlex(row, space-between);
                        align-self: center;
                        margin: 25px 0 25px;
    
                        .seta {
                            @include tamanhos(inherit, 31px);
                            @include displayFlex(row, center, center);
                            border: 1px solid $border;
                            background-color: #fff;
                            border-radius: 6px;
                            cursor: pointer;
    
                            img {
                                @include tamanhos(24px, 24px);
                            }
                        }
                    }
                }
            }
        }

        #esquerda {
            min-height: 500px;
            @include tamanhos(auto, 400px);

            #recomendados {
                min-height: 200px;
                @include tamanhos(auto, inherit);
                @include displayFlex(column);
                background-color: #fff;
                border-radius: 20px;
                filter: $shadowMain;
                padding: 15px;
                margin-bottom: 38px;

                h3 {
                    @include textoEstilo(grau9, medium, $text, capitalize, -0.02em);
                    margin-top: 15px;
                }

                #recomendados-ongs {
                    min-height: 100px;
                    min-width: 295px;
                    @include tamanhos(auto, auto);
                    @include displayFlex(column, $gap: 30px);
                    margin-top: 36px;
                    margin-bottom: 19px;

                    .ongs-opcoes {
                        @include tamanhos(50px, 362px);
                        @include displayFlex(row, space-between, center);

                        div {
                            min-width: 180px;
                            @include tamanhos(inherit, auto);
                            @include displayFlex(row, $align: center, $gap: 10px);

                            img {
                                @include tamanhos(inherit, 50px);
                                border-radius: 50%;
                                cursor: pointer;
                            }
    
                            h2 {
                                @include textoEstilo(grau11, semiBold, $text, capitalize, -0.02em);
                            }
                        }

                        button {
                            @include tamanhos(45px, 85px);
                            @include displayFlex(row, center, center);
                            @include textoEstilo(grau10, semiBold, $text, uppercase, -0.02em);
                            background-color: $deepSaffron;
                            border: none;
                            border-radius: 6px;
                            cursor: pointer;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }

                span {
                    @include textoEstilo(grau10, medium, $tartOrange);
                    text-decoration: underline;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }

            #favoritos {
                @extend #recomendados;

                #favoritos-ong {
                    @extend #recomendados-ongs;

                    .ongs-opcoes {
                        @extend .ongs-opcoes;

                        .img-preenchimento {
                            @include tamanhos(20px, 20px);
                        }
                    }
                }
            }
        }
    }
}