* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

header {
  height: 115px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}

header #itens-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #logo {
  height: 93px;
  width: 260px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header #itens-header #logo img {
  height: inherit;
  width: inherit;
  margin-top: 7px;
}

header #itens-header #lupa-atalhos {
  height: inherit;
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #lupa-atalhos #lupa-pesquisa {
  height: inherit;
  width: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

header #itens-header #lupa-atalhos #lupa-pesquisa img {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 12px;
  bottom: 41px;
}

header #itens-header #lupa-atalhos #lupa-pesquisa input {
  height: 60px;
  width: inherit;
  border-radius: 20px;
  padding-left: 53px;
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  border: 2px solid #CCCCCC;
}

header #itens-header #lupa-atalhos #lupa-pesquisa input ::-webkit-input-placeholder {
  color: #8C8C8C;
}

header #itens-header #lupa-atalhos #atalhos {
  height: inherit;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #lupa-atalhos #atalhos img {
  height: 32px;
  width: 32px;
}

header #itens-header #lupa-atalhos #atalhos #atalhos-perfil {
  height: 90px;
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

header #itens-header #lupa-atalhos #atalhos #atalhos-perfil #foto {
  height: inherit;
  width: 90px;
}

header #itens-header #lupa-atalhos #atalhos #atalhos-perfil #seta-baixo {
  height: 24px;
  width: 24px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F9FA;
}

.conteudo, header #itens-header, main #itens-main {
  height: inherit;
  width: 1440px;
}

main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-bottom: 25px;
  padding: 15px;
}

main #itens-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  margin-top: 45px;
  /* Parte que pode ser copiada */
}

main #itens-main #direita {
  min-height: 500px;
  height: auto;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

main #itens-main #direita #mini-perfil {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  cursor: pointer;
}

main #itens-main #direita #mini-perfil img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

main #itens-main #direita #mini-perfil h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

main #itens-main #direita #menu {
  height: 485px;
  width: 279px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 45px;
}

main #itens-main #direita #menu ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 15px 0 15px;
}

main #itens-main #direita #menu ul li {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

main #itens-main #direita #menu ul li:hover {
  background-color: #F8F9FA;
}

main #itens-main #direita #menu ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

main #itens-main #direita #menu ul li a {
  font-size: 1.563rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: -0.02px;
}

main #itens-main #direita #convite-quantidade {
  height: 50px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 28px;
  margin-bottom: 25px;
}

main #itens-main #direita #convite-quantidade h2 {
  font-size: 1.400rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: uppercase;
}

main #itens-main #direita #convite-quantidade span {
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.313rem;
  font-weight: 500;
  color: #F8F9FA;
  text-transform: none;
  letter-spacing: none;
  border-radius: 50%;
  background-color: #FC595E;
}

main #itens-main #direita #vagas-indicadas {
  min-height: 500px;
  height: auto;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 30px;
}

main #itens-main #direita #vagas-indicadas .vaga {
  height: 424px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 30px;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
}

main #itens-main #direita #vagas-indicadas .vaga .info-fundo-vaga {
  height: 279px;
  width: 237px;
}

main #itens-main #direita #vagas-indicadas .vaga .info-fundo-vaga .vaga-fundo {
  height: inherit;
  width: inherit;
  position: relative;
  border-radius: 20px;
}

main #itens-main #direita #vagas-indicadas .vaga .info-fundo-vaga .perfil-postagem {
  height: 45px;
  width: 45px;
  border-radius: 6px;
  outline: 3px solid #F8F9FA;
  position: absolute;
  top: 43px;
  left: 38px;
}

main #itens-main #direita #vagas-indicadas .vaga .info-fundo-vaga h3 {
  font-size: 1.313rem;
  font-weight: 800;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  color: white;
  position: absolute;
  top: 135px;
  left: 35px;
}

main #itens-main #direita #vagas-indicadas .vaga button {
  height: 50px;
  width: 237px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  background-color: #FF9F45;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
}

main #itens-main #direita #vagas-indicadas .vaga button:hover {
  -webkit-transition: .1s;
  transition: .1s;
  opacity: 0.8;
}

main #itens-main #conteudo-feed {
  min-height: 750px;
  height: auto;
  width: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

main #itens-main #conteudo-feed #previa-eventos {
  height: 275px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

main #itens-main #conteudo-feed #previa-eventos .evento {
  height: inherit;
  width: 175px;
  border-radius: 20px;
  position: relative;
}

main #itens-main #conteudo-feed #previa-eventos .evento .fundo-evento {
  height: inherit;
  width: inherit;
  border-radius: 20px;
  position: absolute;
}

main #itens-main #conteudo-feed #previa-eventos .evento .perfil-postagem {
  height: 45px;
  width: 45px;
  border-radius: 6px;
  outline: 3px solid #F8F9FA;
  position: absolute;
  top: 18px;
  left: 18px;
}

main #itens-main #conteudo-feed #previa-eventos .evento h3 {
  font-size: 1.313rem;
  font-weight: 800;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  color: white;
  position: absolute;
  bottom: 18px;
  left: 10px;
}

main #itens-main #conteudo-feed #criar-postagem {
  height: 90px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: #fff;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  padding: 15px;
  margin: 35px 0;
}

main #itens-main #conteudo-feed #criar-postagem #esquerda {
  height: 68px;
  width: 498px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

main #itens-main #conteudo-feed #criar-postagem #esquerda img {
  height: inherit;
  width: 72px;
  border-radius: 8px;
}

main #itens-main #conteudo-feed #criar-postagem #esquerda h2 {
  font-size: 1.490rem;
  font-weight: 500;
  color: #8C8C8C;
}

main #itens-main #conteudo-feed #criar-postagem #esquerda span {
  font-family: 'Montserrat Alternates', sans-serif;
}

main #itens-main #conteudo-feed #criar-postagem button {
  height: 50px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  background-color: #FF9F45;
  border-radius: 6px;
  cursor: pointer;
  padding-right: 7px;
  -webkit-transition: .1s;
  transition: .1s;
}

main #itens-main #conteudo-feed #criar-postagem button:hover {
  -webkit-transition: .1s;
  transition: .1s;
  opacity: 0.8;
}

main #itens-main #conteudo-feed #criar-postagem button img {
  height: 24px;
  width: 24px;
  margin-left: 8px;
}
/*# sourceMappingURL=feed.css.map */