@import '_variaveis';
@import '_mixins';
@import '_resert';

::-webkit-input-placeholder{
    color: $placeholder;
    font-weight: light;
}

body {
    min-height: 100vh;
    @include displayFlex(row, space-around, center, $gap: 150px);
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img//vector-login-ong.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}

#esquerda {
    @include tamanhos(100vh, 550px);
    @include displayFlex(column, $align: center, $gap: 40px);

    #titulos {
        @include displayFlex(column, center, center, $gap: 4px);
        margin-top: 150px;

        h1 {
            font-size: 4rem;
            font-weight: map-get($densidade, bold);
            color: $text;
        }

        h2 {
            @include textoEstilo(grau8, medium, $text);
            text-align: center;
        }
    }

    #banner {
        @include tamanhos(435px, 450px);
        @include displayFlex(row, center, center);

        img {
            @include tamanhos(inherit, inherit);
        }
    }
}

#direita {
    @include tamanhos(600px, 515px);
    @include displayFlex(column, center, center);

    h2 {
        @include textoEstilo(grau1, bold, $deepSaffron, capitalize);
    }

    form {
        @include tamanhos(382, inherit);
        @include displayFlex(column, center, center);
        margin-top: 50px;

        #conteudo {
            @include tamanhos(190px, inherit);
            @include displayFlex(column, space-between);

            #inputs-superiores {
                @include tamanhos(65px, inherit);
                @include displayFlex(row, space-between, center);

                #input-cnpj {
                    @include tamanhos(inherit, 230px);
                    position: relative;

                    input {
                        @include tamanhos(inherit, inherit);
                        @include textoEstilo(grau8, medium, $text, capitalize);
                        border: 1px solid $border;
                        border-radius: 6px;
                        background-color: $input;
                        padding-left: 64px;
                    }

                    img {
                        @include tamanhos(29px, 29px);
                        left: 20px;
                        top: 15px;
                        position: absolute;
                    }
                }

                span {
                    @include textoEstilo(grau11, bold, $text, capitalize);
                }

                #input-email {
                    @include tamanhos(inherit, 230px);
                    position: relative;

                    input {
                        @include tamanhos(inherit, inherit);
                        @include textoEstilo(grau8, medium, $text, capitalize);
                        border: 1px solid $border;
                        border-radius: 6px;
                        background-color: $input;
                        padding-left: 64px;
                    }

                    img {
                        @include tamanhos(29px, 29px);
                        left: 20px;
                        top: 17px;
                        position: absolute;
                    }
                }
            }

            #input-inferior {
                @include tamanhos(97px, inherit);
                @include displayFlex(column, center, center);
                position: relative;

                input {
                    @include tamanhos(inherit, inherit);
                    @include textoEstilo(grau8, medium, $text, capitalize);
                    border: 1px solid $border;
                    border-radius: 6px;
                    background-color: $input;
                    padding-left: 64px;
                }

                #icone-cadeado {
                    @include tamanhos(29px, 29px);
                    position: absolute;
                    left: 20px;
                    top: 17px;
                }

                #icone-olho {
                    @include tamanhos(29px, 29px);
                    position: absolute;
                    right: 20px;
                    top: 17px;  
                }

                a {
                    @include textoEstilo(grau9, medium, $deepSaffron, capitalize);
                    text-decoration: underline;
                    align-self: flex-end;
                    margin-top: 5px;
                }
            }
        }

        #button-outras-opcoes {
            @include tamanhos(180px, 280px);
            @include displayFlex(column, center, center);

            #btn-login {
                @include tamanhos(60px, inherit);
                @include textoEstilo(grau7, semiBold, $text, capitalize);
                border-radius: 30px;
                cursor: pointer;
                background-color: $deepSaffron;    
            }

            h3 {
                @include textoEstilo(grau9, medium, $text, capitalize);
                margin-top: 15px;
            }

            a {
                @include textoEstilo(grau9, medium, $deepSaffron, capitalize);
            }
        }
    }
}