* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img//vector-login-ong.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

#esquerda {
  height: 100vh;
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 80px;
  margin-right: 190px;
}

#esquerda #titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 4px;
  margin-top: 150px;
}

#esquerda #titulos h1 {
  font-size: 5.1rem;
  font-weight: 700;
  color: #292929;
}

#esquerda #titulos h2 {
  font-size: 1.813rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  text-align: center;
}

#esquerda #banner {
  height: 730px;
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#esquerda #banner img {
  height: inherit;
  width: inherit;
}

#direita {
  height: 600px;
  width: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: blue;
}

#direita h2 {
  font-size: 3.438rem;
  font-weight: 500;
  color: #FF9F45;
  text-transform: capitalize;
  letter-spacing: none;
}
/*# sourceMappingURL=loginONGs.css.map */