@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    min-height: 100vh;
    @include displayFlex(row, space-around, center);
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img//vector-login-ong.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
}

#esquerda {
    @include tamanhos(100vh, 700px);
    @include displayFlex(column, $align: center, $gap: 80px);
    margin-right: 190px;

    #titulos {
        @include displayFlex(column, center, center, $gap: 4px);
        margin-top: 150px;

        h1 {
            font-size: 5.1rem;
            font-weight: map-get($densidade, bold);
            color: $text;
        }

        h2 {
            @include textoEstilo(grau7, medium, $text);
            text-align: center;
        }
    }

    #banner {
        @include tamanhos(730px, 730px);
        @include displayFlex(row, center, center);

        img {
            @include tamanhos(inherit, inherit);
        }
    }
}

#direita {
    @include tamanhos(600px, 515px);
    @include displayFlex(column, $align: center);
    background-color: blue;

    h2 {
        @include textoEstilo(grau1, medium, $deepSaffron, capitalize);
    }
}

// @media (max-width: 1300px) {
    
//     body {
//         background-image: none;
//     }

// }