* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

::-webkit-input-placeholder {
  color: #8C8C8C;
  font-weight: light;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 150px;
  font-family: 'Montserrat', sans-serif;
  background-image: url(../img//vector-login-ong.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

#esquerda {
  height: 100vh;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 40px;
}

#esquerda #titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 4px;
  margin-top: 150px;
}

#esquerda #titulos h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #292929;
}

#esquerda #titulos h2 {
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  text-align: center;
}

#esquerda #banner {
  height: 435px;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#esquerda #banner img {
  height: inherit;
  width: inherit;
}

#direita {
  height: 600px;
  width: 515px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita h2 {
  font-size: 3.438rem;
  font-weight: 700;
  color: #FF9F45;
  text-transform: capitalize;
  letter-spacing: none;
}

#direita form {
  height: 382;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-top: 50px;
}

#direita form #conteudo {
  height: 190px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita form #conteudo #inputs-superiores {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita form #conteudo #inputs-superiores #input-cnpj {
  height: inherit;
  width: 230px;
  position: relative;
}

#direita form #conteudo #inputs-superiores #input-cnpj input {
  height: inherit;
  width: inherit;
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  background-color: #ECECEC;
  padding-left: 64px;
}

#direita form #conteudo #inputs-superiores #input-cnpj img {
  height: 29px;
  width: 29px;
  left: 20px;
  top: 15px;
  position: absolute;
}

#direita form #conteudo #inputs-superiores span {
  font-size: 1rem;
  font-weight: 700;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

#direita form #conteudo #inputs-superiores #input-email {
  height: inherit;
  width: 230px;
  position: relative;
}

#direita form #conteudo #inputs-superiores #input-email input {
  height: inherit;
  width: inherit;
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  background-color: #ECECEC;
  padding-left: 64px;
}

#direita form #conteudo #inputs-superiores #input-email img {
  height: 29px;
  width: 29px;
  left: 20px;
  top: 17px;
  position: absolute;
}

#direita form #conteudo #input-inferior {
  height: 97px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

#direita form #conteudo #input-inferior input {
  height: inherit;
  width: inherit;
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  background-color: #ECECEC;
  padding-left: 64px;
}

#direita form #conteudo #input-inferior #icone-cadeado {
  height: 29px;
  width: 29px;
  position: absolute;
  left: 20px;
  top: 17px;
}

#direita form #conteudo #input-inferior #icone-olho {
  height: 29px;
  width: 29px;
  position: absolute;
  right: 20px;
  top: 17px;
}

#direita form #conteudo #input-inferior a {
  font-size: 1.313rem;
  font-weight: 500;
  color: #FF9F45;
  text-transform: capitalize;
  letter-spacing: none;
  text-decoration: underline;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 5px;
}

#direita form #button-outras-opcoes {
  height: 180px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita form #button-outras-opcoes #btn-login {
  height: 60px;
  width: inherit;
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #FF9F45;
}

#direita form #button-outras-opcoes h3 {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  margin-top: 15px;
}

#direita form #button-outras-opcoes a {
  font-size: 1.313rem;
  font-weight: 500;
  color: #FF9F45;
  text-transform: capitalize;
  letter-spacing: none;
}
/*# sourceMappingURL=loginONGs.css.map */