* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

button {
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 39px 90px 39px 90px;
  background-color: #F8F9FA;
}

#container {
  min-height: 500px;
  height: auto;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-top: 30px;
}

#container #mini-perfil {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  cursor: pointer;
}

#container #mini-perfil img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

#container #mini-perfil h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

#container #menu {
  height: auto;
  width: 279px;
  min-height: 200px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 75px;
}

#container #menu ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 25px;
  padding: 25px 0 25px;
}

#container #menu ul li {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#container #menu ul li:hover {
  background-color: #F8F9FA;
}

#container #menu ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

#container #menu ul li a {
  font-size: 1.563rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: -0.02px;
}

#centro {
  min-height: 500px;
  height: auto;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #banner {
  height: 323px;
  width: inherit;
}

#centro #banner img {
  height: inherit;
  width: 850px;
  border-radius: 6px;
  background-size: cover;
}

#centro #perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

#centro #perfil #foto-perfil {
  height: 175px;
  width: 175px;
  position: absolute;
  top: -75px;
  left: 20px;
}

#centro #perfil #foto-perfil #mini-foto-perfil {
  position: relative;
  border-radius: 50%;
}

#centro #perfil #foto-perfil #mini-foto-perfil img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  outline: 10px solid #F8F9FA;
  position: absolute;
}

#centro #perfil #conteudo-perfil-centro {
  height: auto;
  width: inherit;
  padding-left: 200px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: 100px;
  width: 590px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton h1 {
  font-size: 1.813rem;
  font-weight: 700;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  padding-top: 20px;
  padding-left: 20px;
  width: 340px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #botao {
  height: inherit;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #botao button {
  height: 50px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 12px;
  font-size: 1.250rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  padding: 0 15px 0 17px;
  background-color: #FF9F45;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #botao button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #menu-opcoes-perfil {
  height: 33px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

#centro #menu-opcoes-perfil #menu-opcoes-principal {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #menu-opcoes-perfil #menu-opcoes-principal li + li {
  margin-left: 4.0em;
}

#centro #menu-opcoes-perfil #menu-opcoes-principal li {
  height: inherit;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #menu-opcoes-perfil #menu-opcoes-principal li span {
  font-size: 1.250rem;
  color: #8C8C8C;
  cursor: pointer;
}

#centro #menu-opcoes-perfil #menu-opcoes-principal li span:hover {
  border-bottom: 4px solid #FC595E;
}

#centro #container-conteudo {
  height: auto;
  width: 850px;
}

#centro #container-conteudo #container-conteudo-sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 70px;
  height: 344px;
  width: inherit;
  padding: 20px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 10px;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario {
  height: auto;
  width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 25px;
  padding-top: 10px;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario h3 {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  font-weight: 450;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario h3 span {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  font-weight: 520;
  padding-left: 6px;
}

#centro #container-conteudo #container-conteudo-sobre #anexo {
  height: auto;
  width: 790px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h2 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #FF9F45;
  text-transform: none;
  letter-spacing: none;
  font-weight: 550;
  text-decoration: underline;
  cursor: pointer;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h3 {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-left: 210px;
  font-weight: 450;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h3 span {
  font-weight: 520;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta {
  height: 440px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome {
  height: 98px;
  width: inherit;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome input {
  height: 65px;
  width: 845px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding: 15px;
  margin-left: 5px;
  color: #292929;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data {
  height: 102px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-top: 30px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #email {
  height: 102px;
  width: 355px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #email input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding: 15px;
  margin-left: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #data {
  height: 102px;
  width: 241px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #data input {
  height: 65px;
  width: 222px;
  font-size: 23px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  margin-left: 19px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho {
  height: 65px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-top: 30px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho input[type="file"] {
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho label {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding: 22px 10px;
  width: 230px;
  background-color: #FF9F45;
  text-align: center;
  display: block;
  cursor: pointer;
  border-radius: 6px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho #caminho {
  height: 65px;
  width: 449px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  background-color: #FFFFFF;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho #caminho p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 15px;
  padding-left: 30px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
  gap: 10px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo #buttonCadastrar {
  background-color: #FC595E;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo #formButton {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo #formButton:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco {
  height: 418px;
  width: inherit;
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira {
  height: 104px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cep h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cep input {
  height: 65px;
  width: 158px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #estado h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #estado input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira {
  height: 104px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #rua h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #rua input {
  height: 65px;
  width: 251px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #numero h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #numero input {
  height: 65px;
  width: 130px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira {
  height: 104px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento input {
  height: 65px;
  width: 850px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
  padding-left: 12px;
  padding-right: 12px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  display: flex;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 30px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira #atualizarEnderecos {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
}

#centro #container-conteudo #senha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  display: none;
  height: 315px;
  width: inherit;
}

#centro #container-conteudo #senha h1 {
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #senha #editar-senha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #senha #editar-senha #senha-atual h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-bottom: 10px;
}

#centro #container-conteudo #senha #editar-senha #senha-atual input {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 65px;
  width: 850px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
}

#centro #container-conteudo #senha #editar-senha #nova-confirmar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: auto;
  width: 850px;
  padding-top: 20px;
}

#centro #container-conteudo #senha #editar-senha #nova-confirmar #nova-senha h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-bottom: 10px;
}

#centro #container-conteudo #senha #editar-senha #nova-confirmar #nova-senha input {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 65px;
  width: 350px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
}

#centro #container-conteudo #senha #editar-senha #nova-confirmar #confirmar-senha h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-bottom: 10px;
}

#centro #container-conteudo #senha #editar-senha #nova-confirmar #confirmar-senha input {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 65px;
  width: 350px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
}

#centro #container-conteudo #senha #botao {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

#centro #container-conteudo #senha #botao #butao-editar button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #senha #botao #butao-editar button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #container-conteudo #conta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  display: none;
}

#centro #container-conteudo #conta h2 {
  font-size: 1.563rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  width: 850px;
  line-height: 1.5;
}

#centro #container-conteudo #conta #Botao {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

#centro #container-conteudo #conta #Botao button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #conta #Botao button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #container-conteudo #contatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  display: none;
  height: 285px;
  width: 850px;
}

#centro #container-conteudo #contatos h1 {
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #contatos #contatos-tel-cel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-top: 20px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #telefone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: auto;
  width: 355px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #telefone h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-bottom: 10px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #telefone input {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 65px;
  width: 350px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 23px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #celular {
  height: auto;
  width: 355px;
  padding-left: 143px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #celular h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-bottom: 10px;
}

#centro #container-conteudo #contatos #contatos-tel-cel #celular input {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 65px;
  width: 350px;
  padding: 10px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
}

#centro #container-conteudo #contatos #botao {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 25px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 45px;
}

#centro #container-conteudo #contatos #botao #butao-editar-contatos button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #contatos #botao #butao-editar-contatos button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#centro #container-conteudo #contatos #botao #botao-Finalizar {
  padding-left: 20px;
}

#centro #container-conteudo #contatos #botao #botao-Finalizar button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}

#centro #container-conteudo #contatos #botao #botao-Finalizar button:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

#direita {
  min-height: 500px;
  height: auto;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}

#direita #status-seguidores {
  height: 30px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#direita #status-seguidores h2 {
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: none;
}

#direita #status-seguidores span {
  height: 28px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  background-color: #FF9F45;
  padding-right: 3px;
  border-radius: 25px;
}

#direita #container-direita {
  min-height: 430px;
  height: auto;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  padding: 12px 10px 15px;
}

#direita #container-direita #mini-perfil-direita {
  height: auto;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  background: #FFFFFF;
  gap: 20px;
  padding: 15px;
}

#direita #container-direita #mini-perfil-direita img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

#direita #container-direita #mini-perfil-direita h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  white-space: nowrap;
}

#direita #container-direita #mini-perfil-direita p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: none;
}

#direita #container-direita #mini-perfil-direita .perfil-direita {
  height: 60px;
  width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#direita #container-direita #mini-perfil-direita .perfil-direita .nome-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita #container-direita #img-amplifica {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 20px;
}

#direita #container-direita #img-amplifica img {
  height: 15px;
  width: 25px;
}

.modalEditar {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
}

.modalEditar #EditarBannerFoto {
  height: 469px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  border: 1px solid #8C8C8C;
  border-radius: 20px;
  background-color: #E4E6EB;
  padding: 30px;
}

.modalEditar #EditarBannerFoto #esquerda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: 430px;
  width: 316px;
}

.modalEditar #EditarBannerFoto #esquerda #editarPerfil {
  height: auto;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  cursor: pointer;
}

.modalEditar #EditarBannerFoto #esquerda #editarPerfil label {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: block;
}

.modalEditar #EditarBannerFoto #esquerda #editarPerfil label img {
  cursor: pointer;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.modalEditar #EditarBannerFoto #esquerda #editarPerfil input[type='file'] {
  display: none;
}

.modalEditar #EditarBannerFoto #esquerda #tituloFotoPerfil {
  height: 296px;
  width: 316px;
}

.modalEditar #EditarBannerFoto #esquerda #tituloFotoPerfil h2 {
  height: 37px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 10px;
}

.modalEditar #EditarBannerFoto #Direita {
  height: 430px;
  width: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

.modalEditar #EditarBannerFoto #Direita #editarBanner {
  height: auto;
  width: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  cursor: pointer;
}

.modalEditar #EditarBannerFoto #Direita #editarBanner label {
  height: 227px;
  width: 414px;
  border-radius: 6px;
  display: block;
}

.modalEditar #EditarBannerFoto #Direita #editarBanner label img {
  cursor: pointer;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.modalEditar #EditarBannerFoto #Direita #editarBanner input[type='file'] {
  display: none;
}

.modalEditar #EditarBannerFoto #Direita #tituloBannerPerfil {
  height: auto;
  width: 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

.modalEditar #EditarBannerFoto #Direita #tituloBannerPerfil h2 {
  font-size: 1.813rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 10px;
}

.modalEditar #EditarBannerFoto #Direita #botaoAlterar {
  height: 140px;
  width: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

.modalEditar #EditarBannerFoto #Direita #botaoAlterar #botaoSairEditar {
  background-color: #FF9F45;
}

.modalEditar #EditarBannerFoto #Direita #botaoAlterar button {
  height: 65px;
  width: 180px;
  font-size: 1.563rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  background-color: #FF9F45;
  border: 1px;
  border-radius: 6px;
  cursor: pointer;
}

.modalEditar.bg-active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
/*# sourceMappingURL=perfilUsuario.css.map */