* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

a {
  color: #FC595E;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 30px;
  background-color: #F8F9FA;
}

#container {
  min-height: 500px;
  height: auto;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#container #mini-perfil {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  cursor: pointer;
}

#container #mini-perfil img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

#container #mini-perfil h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

#container #menu {
  height: 485px;
  width: 279px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 45px;
}

#container #menu ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 15px 0 15px;
}

#container #menu ul li {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#container #menu ul li:hover {
  background-color: #F8F9FA;
}

#container #menu ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

#container #menu ul li a {
  font-size: 1.563rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: -0.02px;
}

#centro {
  min-height: 500px;
  background-color: silver;
  height: auto;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #banner {
  background-color: aqua;
}

#centro #banner img {
  height: 323px;
  width: 850px;
}

#centro #perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

#centro #perfil #foto-perfil {
  height: 175px;
  width: 175px;
  position: absolute;
  top: -75px;
  left: 20px;
}

#centro #perfil #foto-perfil #foto {
  height: inherit;
  width: inherit;
  background-image: url("../img/perfil-foto-ONG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 6px solid #F8F9FA;
}

#centro #perfil #conteudo-perfil-centro {
  padding-left: 200px;
  background-color: yellow;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton {
  height: auto;
  width: 501px;
  background-color: red;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulos-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulos-perfil h1 {
  font-size: 1.813rem;
  font-weight: 700;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  padding-top: 10px;
  white-space: nowrap;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulos-perfil #icon-centro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-left: 200px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulos-perfil #icon-centro img {
  height: 30px;
  width: 30px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulos-perfil #icon-centro span {
  font-size: 1.313rem;
  color: capitalize;
  text-transform: none;
  letter-spacing: none;
  font-weight: 500;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: none;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor #container-classificacao {
  padding-top: 55px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor #container-classificacao #conteudo-classificacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: 50px;
  width: 300px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor #container-classificacao #conteudo-classificacao .class-tipo {
  height: 30px;
  width: 80px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #titulo-seguidor #botao button {
  height: 50px;
  width: 200px;
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border: 1px;
  border-radius: 10px;
  background: #FF9F45;
  cursor: pointer;
}

#centro ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-around;
          flex-direction: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 10px 20px 15px;
}

#centro ul li + li {
  margin-left: 1.5em;
}

#centro ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#centro ul li img {
  height: 25px;
  width: 40px;
  margin-left: 26px;
}

#centro ul li a {
  font-size: 1.313rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: -0.02px;
  letter-spacing: none;
}

#centro ul li:hover {
  border-bottom: 5px solid #FC595E;
}

#centro #container-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #conteudo-sobre {
  height: 362px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-conteudo #conteudo-sobre #texto-sobre {
  height: 94px;
  width: 701px;
}

#centro #container-conteudo #conteudo-sobre p {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #conteudo-sobre #conteudo-info #texto-quantidade {
  padding-top: 40px;
}

#centro #container-conteudo #conteudo-sobre #conteudo-info #texto-quantidade h2 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  line-height: 1.5;
  font-weight: 450;
}

#centro #container-conteudo #conteudo-sobre #conteudo-info #texto-quantidade h2 span {
  font-weight: 520;
}

#centro #container-conteudo #conteudo-sobre #ano-fundacao h2 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  line-height: 2;
  font-weight: 450;
}

#centro #container-conteudo #conteudo-sobre #ano-fundacao h2 span {
  font-weight: 520;
}

#centro #container-conteudo #conteudo-sobre div + div {
  margin-top: 0.8rem;
}

#centro #container-conteudo #conteudo-sobre #local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #conteudo-sobre #local h2 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  font-weight: 450;
}

#centro #container-conteudo #conteudo-sobre #local h2 span {
  font-weight: 520;
}

#centro div + div {
  margin-top: 0.3rem;
}

#centro #container-historia {
  padding-top: 30px;
}

#centro #container-historia #container-conteudo-historia {
  height: 362px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-historia #container-conteudo-historia #historia h1 {
  font-size: 1.563rem;
  color: semiBold;
  text-transform: #292929;
  letter-spacing: none;
  font-weight: 600;
  line-height: 2;
}

#centro #container-historia #container-conteudo-historia #historia p {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  margin-top: 0.4rem;
}

#centro #container-historia #container-conteudo-historia #historia p span {
  font-size: 1.313rem;
  color: bold;
  text-transform: #292929;
  letter-spacing: none;
  font-weight: 600;
  text-decoration: underline;
}

#centro #patrocinios {
  height: 362px;
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
  margin-top: 40px;
}

#centro #patrocinios h2 {
  font-size: 1.563rem;
  color: semiBold;
  text-transform: #292929;
  letter-spacing: none;
  font-weight: 600;
  padding: 25px;
  margin-bottom: 25px;
  padding-top: 35px;
}

#centro #patrocinios #container-patrocinios {
  height: 320px;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  padding: 30px;
}

#centro #patrocinios #container-patrocinios #conteudo-patrocinios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
  height: 100px;
  width: 600px;
}

#centro #patrocinios #container-patrocinios #conteudo-patrocinios .img-patrocinios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-detalhes-conta {
  height: 550px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-conteudo-detalhes-conta #nome {
  height: 98px;
  width: 766px;
  margin-top: 30px;
}

#centro #container-conteudo-detalhes-conta #nome p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-conta #nome input {
  height: 65px;
  width: 761px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo-detalhes-conta #email-data {
  height: 102px;
  width: 766px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-top: 20px;
}

#centro #container-conteudo-detalhes-conta #email-data p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-conta #email-data #email {
  height: 102px;
  width: 355px;
}

#centro #container-conteudo-detalhes-conta #email-data #email input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo-detalhes-conta #email-data #cnpj {
  height: 102px;
  width: 359px;
}

#centro #container-conteudo-detalhes-conta #email-data #cnpj input {
  height: 65px;
  width: 350px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
}

#centro #container-conteudo-detalhes-conta #celular-telefone {
  height: auto;
  width: 766px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-detalhes-conta #celular-telefone p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-conta #celular-telefone #celular {
  height: 102px;
  width: 355px;
}

#centro #container-conteudo-detalhes-conta #celular-telefone #celular input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo-detalhes-conta #celular-telefone #telefone {
  height: 102px;
  width: 359px;
}

#centro #container-conteudo-detalhes-conta #celular-telefone #telefone input {
  height: 65px;
  width: 350px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
}

#centro #container-conteudo-detalhes-conta #proximo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}

#centro #container-conteudo-detalhes-conta #proximo button {
  height: 65px;
  width: 230px;
  border: 2px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#centro #container-conteudo-detalhes-do-endereco {
  height: 500px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #cep h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #cep input {
  height: 65px;
  width: 158px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #estado h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #estado input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro input {
  height: 65px;
  width: 288px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #rua h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #rua input {
  height: 65px;
  width: 251px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #numero h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #segunda-fileira #numero input {
  height: 65px;
  width: 130px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #terceira-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento input {
  height: 65px;
  width: 769px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-detalhes-do-endereco #quarta-fileira {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}

#centro #container-conteudo-detalhes-do-endereco #quarta-fileira button {
  height: 65px;
  width: 230px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
}

#centro #container-conteudo-meios-doacoes {
  height: 500px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-conteudo-meios-doacoes #fileira-doacoes {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-meios-doacoes #fileira-doacoes #site h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-meios-doacoes #fileira-doacoes #site input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-meios-doacoes #fileira-doacoes #pix h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-meios-doacoes #fileira-doacoes #pix input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #agencia {
  height: 103px;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #agencia h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #agencia input {
  height: 65px;
  width: 142px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #conta h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #conta input {
  height: 65px;
  width: 350px;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  font-size: 22px;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo {
  height: 65px;
  width: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo #filtros-pesquisas {
  height: 88px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 45px;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo #filtros-pesquisas #tipo-conta {
  height: 88px;
  width: 417px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo #filtros-pesquisas #tipo-conta label {
  font-size: 1.313rem;
  font-weight: 500;
  color: #292929;
  text-transform: none;
  letter-spacing: -0.02em;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo #filtros-pesquisas #tipo-conta select {
  height: 65px;
  width: 194px;
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: -0.02em;
  border: 2px solid #CCCCCC;
  border-radius: 6px;
  padding: 0px 15px;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
  background: #fff url("../img/code.png") 95.5% 50% no-repeat;
}

#centro #container-conteudo-meios-doacoes #fileira-agencia #tipo #filtros-pesquisas #tipo-conta select option {
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: -0.02em;
}

#centro #container-conteudo-meios-doacoes #botao-proximo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 100px;
}

#centro #container-conteudo-meios-doacoes #botao-proximo button {
  height: 65px;
  width: 230px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
}

#centro #container-conteudo-patrocinios {
  margin-top: 50px;
  height: 550px;
  width: 850px;
  padding: 30px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 20px;
}

#centro #container-conteudo-patrocinios #editar-imagen {
  height: 100px;
  width: 774px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-patrocinios h2 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 25px;
  padding-left: 10px;
}

#centro #container-conteudo-patrocinios #editar-nome-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  gap: 15px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador {
  height: 102px;
  width: 276px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding: 3px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador input {
  height: 65px;
  width: 266px;
  border: 1px solid #CCCCCC;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador input::-webkit-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador input:-ms-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador input::-ms-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #nome-do-patrocinador input::placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site {
  height: 102px;
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding: 3px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site input {
  height: 65px;
  width: 266px;
  border: 1px solid #CCCCCC;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site input::-webkit-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site input:-ms-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site input::-ms-input-placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #nome-link #link-do-site input::placeholder {
  font-size: 1.313rem;
  font-weight: 400;
  color: #CCCCCC;
  text-transform: none;
  letter-spacing: none;
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #container-principal {
  height: 271px;
  width: 317px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #container-principal .container {
  height: 87px;
  width: 317px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  border: 2px solid #CCCCCC;
}

#centro #container-conteudo-patrocinios #editar-nome-link #container-principal .container .imagens {
  padding: 5px;
}

#centro #container-conteudo-patrocinios #editar-nome-link #container-principal .container .nome h2 {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo-patrocinios #botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: 50px;
  width: 397px;
  padding: 20px;
  gap: 40px;
  background-color: blue;
}

#centro #container-conteudo-patrocinios #botoes #botao-adicionar {
  height: 55px;
  width: 185px;
}

#centro #container-conteudo-patrocinios #botoes #botao-adicionar button {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 55px;
  width: 185px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
}

#centro #container-conteudo-patrocinios #botoes #botao-finalizar {
  height: 55px;
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo-patrocinios #botoes #botao-finalizar button {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  height: 55px;
  width: 185px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#direita {
  min-height: 500px;
  height: auto;
  width: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
}

#direita #info-seguidores {
  height: 30px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#direita #info-seguidores h3 {
  font-size: 1.313rem;
  font-weight: 500;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: none;
}

#direita #info-seguidores span {
  height: 28px;
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  background-color: #FF9F45;
  padding-right: 3px;
  border-radius: 25px;
}

#direita #container-direita {
  min-height: 430px;
  height: auto;
  width: 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 20px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  padding: 15px;
}

#direita #container-direita .perfil-direita {
  min-width: 164px;
  height: 60px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 14px;
}

#direita #container-direita .perfil-direita img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#direita #container-direita .perfil-direita div {
  min-width: 92px;
  height: 50px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita #container-direita .perfil-direita div h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  white-space: nowrap;
}

#direita #container-direita .perfil-direita div p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: none;
}

#direita #container-direita img {
  height: 35px;
  width: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}
/*# sourceMappingURL=perfilONGsSobre.css.map */