@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    @include displayFlex(row, space-between);
    padding: 30px;
    background-color: $background;
}

#container {
    min-height: 500px;
    @include tamanhos(auto, 279px);
    @include displayFlex(column);
    padding-top: 30px;

    #mini-perfil {
        @include tamanhos(112px, inherit);
        @include displayFlex($align: center);
        background: #FFFFFF;
        filter: $shadowMain;
        border-radius: 20px;
        cursor: pointer;
        
        img {
            @include tamanhos(75px, 75px);
            border-radius: 50%;
            margin-left: 8px;
            margin-right: 8px;
        }

        h3 {
            @include textoEstilo(grau9, semiBold, $text, capitalize);
        }
    }

    #menu {
        @include tamanhos(auto, 279px);
        min-height: 200px;
        background: #FFFFFF;
        filter: $shadowMain;
        border-radius: 20px;
        margin-top: 75px;

        ul {
            @include tamanhos(inherit, inherit);
            @include displayFlex(column, $gap: 25px);
            padding: 25px 0 25px;

            li {
                @include tamanhos(65px, inherit);
                @include displayFlex(row-reverce, $align: center, $gap: 18px);

                &:hover {
                    background-color: $background;
                }

                img {
                    @include tamanhos(35px, 35px);
                    margin-left: 26px;
                }

                a {
                    @include textoEstilo(grau8, regular, $placeholder, capitalize, -0.02px);
                }

            }
        }
    }

   
}

// CENTRO
#centro{    
    min-height: 500px;
    @include tamanhos(auto, 850px);
    @include displayFlex(column, space-between);
   

    #banner{
        @include tamanhos(323px, inherit);

        img{
            @include tamanhos(inherit, inherit);
            border-radius: 6px;
        }
    }
    #perfil{
        @include displayFlex(row);
        position: relative;
        

        #foto-perfil {
            @include tamanhos(175px, 175px);
            position: absolute;
            top: -75px;
            left: 20px;

            #foto {
                @include tamanhos(inherit, inherit);
                background-image: url('../img/perfil-usuario-foto.webp');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                object-fit: cover;
                border-radius: 50%;
                border: 6px solid $background;
            }
        }
     
        #conteudo-perfil-centro{
            @include tamanhos(auto, inherit);
            padding-left: 200px;
           
            
            

            #containerNameandButton{
                @include displayFlex(row, space-between);
                @include tamanhos(auto, 501px);
        
                h1{
                    // @include tamanhos(33px, 200px);
                    @include textoEstilo(grau7, bold, $text, capitalize);
                    padding-top: 10px;
                    
                }

                h3{
                    // @include tamanhos(18px, 95px);
                    @include textoEstilo(grau11, semiBold, $placeholder, capitalize);
                    
                }

                
             
            
   
        #botao{
            padding-top: 20px;
            
                button{
                        @include tamanhos(50px, 200px);
                        @include textoEstilo(grau9, semiBold, $text, capitalize);
                        border: 1px;
                        border-radius: 10px;
                        background: $deepSaffron;
                        cursor: pointer;
                    }
        }

          

        }

    }
    
    }
    
    
nav{
    
    ul {
        @include tamanhos(inherit, auto);
        @include displayFlex(space-around);
        padding: 30px 20px 15px;
        // background-color:yellow;
        width:850px;
        
        li + li {
            margin-left: 1.5em;
            // padding-top: 30px;
            
          
        }


        li {
             @include tamanhos(65px, inherit);
            // @include displayFlex(row-reverce, $align: center, $gap: 18px);
            padding-top: 25px;
        
            
            img {
                @include tamanhos(35px, 35px);
                margin-left: 26px;
            }
            
            span {
                @include textoEstilo(grau9, regular, $placeholder, -0.02px);
                @include tamanhos(26px, 217px);
                cursor: pointer;
                
                &:hover{
                    border-bottom: 4px solid $tartOrange;
        
                }
            }

        }
        
    }
}
    
    // Conteudo
    #container-conteudo{
        @include tamanhos(auto, 850px);

        // .item {
        //     display: flex;
        // }

        // .aparecer {
        //     display: flex;
        // }

        // .desaparecer {
        //     display: none;
        // }

        #container-conteudo-sobre{
            @include displayFlex(column);
            @include tamanhos(344px, inherit);
            padding: 20px;
            background: #FFFFFF;
            filter: $shadowMain;
            border: 1px  ;
            border-radius: 10px;

            #sobre-usuario{
                h3 + h3{
                    margin-top: 1.0em;
                }
                padding-top: 15px;
                h3{
                    @include textoEstilo(grau9, Montserrat, $text);
                    font-weight: 450;

                    span{
                        @include textoEstilo(grau9, Bold, $text, );
                        font-weight: 520;
                    }
                }
             
            }
            #anexo{
                @include displayFlex(row, space-between);
                padding-top: 30px;
                padding-left:5px;

                h2{
                    @include textoEstilo(grau9, semiBold, $deepSaffron);
                    font-weight: 550;
                    text-decoration: underline;
                    cursor: pointer;
                }
                h3{
                    @include textoEstilo(grau9, Montserrat, $text);
                    padding-left: 210px;
                    font-weight: 450;

                    span{
                        font-weight:520;
                    }

                }
            }
        }

        #container-conteudo-detalhes-de-conta{
            @include tamanhos(550px, inherit);
            @include displayFlex(column);
            display: none;

            #nome{
                @include tamanhos(98px, 766px);
                // margin-top:30px;
               

                p{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 850px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    font-size:23px;
                    padding: 15px;
                }
            }
            #email-data{
                @include tamanhos(102px, 850px);
                @include displayFlex(row, space-between);

                margin-top: 20px;

                p{
                    @include textoEstilo(grau9, regular, $text);
                    
                }
                #email{
                    @include tamanhos(102px, 355px);

                    input{
                        @include tamanhos(65px, 350px);
                        border: 2px solid $border;
                        border-radius: 6px;
                        font-size:23px;
                        padding: 15px;
                    }
                }
                #data{
                    @include tamanhos(102px, 241px);

                    input{
                        @include tamanhos(65px, 222px);
                        font-size:23px;
                        padding: 15px;
                        border: 2px solid $border;
                        border-radius: 6px;
                    }
                    
                }

            }
            #celular-telefone{
                @include tamanhos(auto, 850px);
                @include displayFlex(row, space-between);
                margin-top: 20px;
                

                p{
                    @include textoEstilo(grau9, regular, $text);
                }
                #celular{
                    @include tamanhos(102px, 355px);

                    input{
                        @include tamanhos(65px, 350px);
                        border: 2px solid $border;
                         border-radius: 6px;
                        font-size:23px;
                        padding: 15px;
                        
                    }
                }
                #telefone{
                    @include tamanhos(102px, 359px);

                    input{
                        @include tamanhos(65px, 350px);
                        font-size:23px;
                        padding: 15px;
                        border: 2px solid $border;
                        border-radius: 6px;
                    }
                    
                }
            }

            #anexar-caminho{
                @include tamanhos(65px, 850px);
                @include displayFlex(row, space-between);
                margin-top: 20px;
            
        

                    input[type="file"] {
                        display: none;
                    }
                    label {
                        @include textoEstilo(grau9, semiBold, $text);
                        padding: 22px 10px;
                        width: 230px;
                        background-color: $deepSaffron;
                        text-align: center;
                        display: block;
                        cursor: pointer;
                        border-radius: 6px;
                    }

               
                #caminho{
                    @include tamanhos(65px, 449px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    background-color: #FFFFFF;

                    p{
                        @include textoEstilo(grau9, regular, $text);
                        padding-top: 15px;
                        padding-left: 30px;
                    }
                }
         
                }
                #proximo{
                    display:flex;
                    justify-content:flex-end;
                    padding-left: 570px;
                    padding-top:40px;
                    
                
                    button{
                        @include tamanhos(75px, 250px);
                        border: 2px ;
                        border-radius: 6px;
                        background-color: $deepSaffron;
                        font-size: 30px;
                        align-self: flex-end;
                       
                    }
            }
            
        }
      
        #container-conteudo-detalhes-do-endereco{
            @include tamanhos(485px, inherit);
            display: none;
            
            #primeira-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #cep{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 158px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }

                #estado{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }

                #cidade{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }
            }

            
            #segunda-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #bairro{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }
                #rua{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 251px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }
                #numero{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 130px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }
            }
            #terceira-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #complemento{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 850px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding: 5px;
                    }
                }
            }
            #quarta-fileira{
                display: flex;
                justify-content: flex-end;
                padding-top: 30px;
                button{
                    @include tamanhos(75px, 250px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    font-size:30px;
                }

            }
        }
        #senha{
            @include displayFlex(column,);
            display: none;
            @include tamanhos(485px, inherit);


            h1{
                @include textoEstilo(grau7, semiBold, $text);
            }
            #editar-senha{
                @include displayFlex(column);
                // padding: 15px;

                #senha-atual{
                    padding: 10px;
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include textoEstilo(grau9, medium, $placeholder);
                        @include tamanhos(65px, 830px);
                        padding: 10px;
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        
                    }
                }
                #nova-confirmar{
                    @include displayFlex(row, space-between);
                    padding: 10px;
                    @include tamanhos(auto, 850px);

                    #nova-senha{

                        h3{
                            @include textoEstilo(grau9, regular, $text);
                        }
                        input{
                            @include textoEstilo(grau9, medium, $placeholder);
                            @include tamanhos(65px, 350px);
                            padding: 10px;
                            border: 2px solid $border;
                            border-radius:6px;
                            font-size:23px;
                            
                        }
                    }
                    #confirmar-senha{
                        // padding-left: 20px;
                        h3{
                            @include textoEstilo(grau9, regular, $text);
                        }
                        input{
                            @include textoEstilo(grau9, medium, $placeholder);
                            @include tamanhos(65px, 350px);
                            padding: 10px;
                            border: 2px solid $border;
                            border-radius:6px;
                            
                        }
                    }
                }
               
            }
            #botao{
                width: 850px;
                @include displayFlex(row, space-between);
                align-items: center;
                justify-content: center;
                padding-top: 30px;
          
                

                #butao-editar{

                    button{
                    @include tamanhos(60px, 232px);
                    cursor: pointer;
                    font-size: 30px; 
                    color: $text;
                    background-color: $deepSaffron;
                    border-radius:6px; 
                    }
                }
                #botao-cancelar{
                    padding-left: 20px;
                    
                    button{
                        @include tamanhos(60px, 232px);
                        cursor: pointer;
                        font-size: 30px; 
                        color: $text;
                        background-color: $deepSaffron;
                        border-radius:6px; 
                        }
                }
            }
        }
        #conta{
            @include displayFlex(column);
            // padding:15px;
            display: none;
            

            h2{
                @include textoEstilo(grau7, semiBold, $text);
                width: 850px;
              
            }
            #Botao{
                width: 850px;
                display: flex;
                justify-content: center;
                padding:25px;

                button{
                    @include tamanhos(60px, 232px);
                    cursor: pointer;
                    font-size: 30px; 
                    color: $text;
                    background-color: $deepSaffron;
                    border-radius:6px; 
                    }
            }
        }

    }
     // MODAL EDITAR BANNER E PERFIL
     #EditarBannerFoto{
        @include tamanhos(469px, 850px);
        @include displayFlex(row, );
        border: 1px   solid $placeholder;
        border-radius:20px;
        background-color: #E4E6EB;
        padding: 30px;
        display: none;

        #esquerda{
            @include displayFlex(column,);
            @include tamanhos(430px, 316px);
          

            #editarPerfil{
                @include tamanhos(auto, inherit);
                @include displayFlex(center, center);

                img{
                    @include tamanhos(120px, 120px);
                  
                
                }
            }

            #tituloFotoPerfil{
                @include tamanhos(296px, 316px);
                
              
                
                h2{
                    @include tamanhos(37px, inherit);
                    @include displayFlex(center, center);
                    @include textoEstilo(grau7, semiBold, $text);
                    padding-top: 10px;
                }
            }
        }
        #Direita{
            @include tamanhos(430px, 463px);
            @include displayFlex(column);
        

            #editarBanner{
                @include tamanhos(auto, 463px);
                @include displayFlex(center, center);
                
                    img{
                        @include tamanhos(227px, 414px);
                     
                    }

            }
            #tituloBannerPerfil{
                @include tamanhos(auto, 463px);
                @include displayFlex(center, center);
                

                    h2{
                        @include textoEstilo(grau7, semiBold, $text);
                        padding-top: 10px
                    }
            }
            #botaoAlterar{
                @include tamanhos(140px, 465px);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                button{
                    @include tamanhos(65px, 180px);
                    @include textoEstilo(grau8, semiBold, $text);
                    background-color: $deepSaffron;
                    border: 1px ;
                    border-radius:6px;
                  
                    

                }
            }
        }

    }

}
    

#direita{
    min-height: 500px;
    @include tamanhos(auto, 280px);
    @include displayFlex(column, $gap: 20px);

    #status-seguidores {
        @include tamanhos(30px, inherit); 
        @include displayFlex($justify: space-between, $align: center);
        padding-left: 20px;
        padding-right: 20px;

        h2 {
            @include textoEstilo(grau9, medium, $placeholder);             
        }

        span {
            @include tamanhos(28px, 52px);
            @include displayFlex(row, center, center);
            @include textoEstilo(grau10, semiBold, $text);
            background-color: $deepSaffron;
            padding-right: 3px;
            border-radius: 25px;
        }
    }

    
    
    
    #container-direita {
        min-height: 430px;
        @include tamanhos(auto, inherit);
        @include displayFlex(column, $gap: 20px);
        padding: 12px 10px 15px;
            
            
    
        #mini-perfil-direita {
            @include tamanhos(auto, 261px);
            @include displayFlex(column);
            cursor: pointer;
            filter: $shadowMain;
            border-radius: 20px;
            background: #FFFFFF;
            gap: 20px;
            padding: 15px ;
            
            
            img {
                @include tamanhos(60px, 60px);
                border-radius: 50%;
                margin-left: 8px;
                margin-right: 8px;
            }
    
            h3 {
                @include textoEstilo(grau9, semiBold, $text, capitalize);
                white-space: nowrap;
            }
            p{
                @include textoEstilo(grau10, semiBold, $placeholder, capitalize);
                
            }

            .perfil-direita{
                @include tamanhos(60px, 164px);
                @include displayFlex(row, $align: center, $gap: 18px);

                .nome-perfil{
                    @include displayFlex(column);
                }
            }
          
        }

        #img-amplifica{
            align-self: center;
            padding-top: 20px;

            img{
                @include tamanhos(15px, 25px);
            }
        }

}
}