@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    @include displayFlex(row, space-between);
    padding: 39px 90px 39px 90px;
    background-color: $background;
}

#container {
    min-height: 500px;
    @include tamanhos(auto, 279px);
    @include displayFlex(column);
    padding-top: 30px;

    #mini-perfil {
        @include tamanhos(112px, inherit);
        @include displayFlex($align: center);
        background: #FFFFFF;
        filter: $shadowMain;
        border-radius: 20px;
        cursor: pointer;
        
        img {
            @include tamanhos(75px, 75px);
            border-radius: 50%;
            margin-left: 8px;
            margin-right: 8px;
        }

        h3 {
            @include textoEstilo(grau9, semiBold, $text, capitalize);
        }
    }

    #menu {
        @include tamanhos(auto, 279px);
        min-height: 200px;
        background: #FFFFFF;
        filter: $shadowMain;
        border-radius: 20px;
        margin-top: 75px;

        ul {
            @include tamanhos(inherit, inherit);
            @include displayFlex(column, $gap: 25px);
            padding: 25px 0 25px;

            li {
                @include tamanhos(65px, inherit);
                @include displayFlex(row-reverce, $align: center, $gap: 18px);

                &:hover {
                    background-color: $background;
                }

                img {
                    @include tamanhos(35px, 35px);
                    margin-left: 26px;
                }

                a {
                    @include textoEstilo(grau8, regular, $placeholder, capitalize, -0.02px);
                }

            }
        }
    }

   
}

// CENTRO
#centro{
    min-height: 500px;
    @include tamanhos(auto, 850px);
    @include displayFlex(column, space-between);
   
    #banner{
        @include tamanhos(323px, inherit);

        img{
            @include tamanhos(inherit, 850px);
            border-radius: 6px;
            background-size: cover;
        }
    }

    #perfil{
        @include displayFlex(row);
        position: relative;
        

        #foto-perfil {
            @include tamanhos(175px, 175px);
            position: absolute;
            top: -75px;
            left: 20px;

           #mini-foto-perfil{
               position: relative;
               border-radius:50%;

               img{
                   @include tamanhos(175px, 175px);
                   border-radius: 50%;
                   outline: 10px solid $background;
                   position: absolute;
                //    top: -35px;
               }
           }
        }
     
        #conteudo-perfil-centro{
            @include tamanhos(auto, inherit);
            padding-left: 200px;
  

            #containerNameandButton{
                @include displayFlex(row, space-between);
                @include tamanhos(100px, 590px);
        
                h1{
                    // @include tamanhos(33px, 200px);
                    @include textoEstilo(grau7, bold, $text, capitalize);
                    padding-top: 20px;
                    padding-left: 20px;
                    width: 340px;
        
                } 
                #botao{
                    @include tamanhos(inherit, 210px);       
                    @include displayFlex(row, $align: center);

                    button {
                        @include tamanhos(50px, 210px);
                        @include displayFlex(row, $align: center, $gap: 12px);
                        font-size: 1.250rem;
                        font-weight: map-get($densidade, semiBold);
                        color: $text;
                        text-transform: capitalize;
                        padding: 0 15px 0 17px;
                        background-color: $deepSaffron;
                        border-radius: 6px;
                        cursor: pointer;
                        transition: .5s;

                        &:hover {
                            transition: .5s;
                            opacity: 0.8;
                        }
                    }
                }
            

            }

        }
    
    }
    
    #menu-opcoes-perfil {
        @include tamanhos(33px, inherit);
        @include displayFlex(row, space-between, flex-start);
        margin-top: 40px;
        margin-bottom: 40px;

        #menu-opcoes-principal{
            @include tamanhos(inherit, inherit);
            @include displayFlex(row, space-between, center);

            li + li {
                margin-left: 4.0em;
            }

            li {
                @include tamanhos(inherit, auto);
                @include displayFlex(column, space-between, flex-start);
             
                span {
                    font-size: 1.250rem;
                    color: $placeholder;
                    cursor: pointer;

                    &:hover {
                        border-bottom: 4px solid $tartOrange;
                    }
                }
            }
        }
    }
    
    // Conteudo
    #container-conteudo{
        @include tamanhos(auto, 850px);

        #container-conteudo-sobre{
            @include displayFlex(column, $gap: 70px);
            @include tamanhos(344px, inherit);
            padding: 20px;
            background: #FFFFFF;
            filter: $shadowMain;
            border: 1px  ;
            border-radius: 10px;

            #sobre-usuario{
                @include tamanhos(auto, 790px);
                @include displayFlex(column, space-between, $gap: 25px);
                padding-top: 10px;

                h3{
                    @include textoEstilo(grau9, Montserrat, $text);
                    font-weight: 450;

                    span{
                        @include textoEstilo(grau9, Bold, $text, );
                        font-weight: 520;
                        padding-left: 6px;
                    }
                }
            }

            #anexo{
                @include tamanhos(auto, 790px);
                @include displayFlex(row, space-between);

                h2{
                    @include textoEstilo(grau9, semiBold, $deepSaffron);
                    font-weight: 550;
                    text-decoration: underline;
                    cursor: pointer;
                }
                h3{
                    @include textoEstilo(grau9, Montserrat, $text);
                    padding-left: 210px;
                    font-weight: 450;

                    span{
                        font-weight:520;
                    }

                }
            }
        }

        #container-conteudo-detalhes-de-conta{
            @include tamanhos(440px, inherit);
            @include displayFlex(column);
            display: none;

            #nome{
                @include tamanhos(98px, inherit);
            
                p{
                    @include textoEstilo(grau9, regular, $text);
                }

                input{
                    @include tamanhos(65px, 845px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    font-size: 23px;
                    padding: 15px;
                    margin-left: 5px;
                    color: $text;
                }
            }

            #email-data{
                @include tamanhos(102px, 850px);
                @include displayFlex(row, space-between);

                margin-top: 30px;

                p{
                    @include textoEstilo(grau9, regular, $text);
                    
                }

                #email{
                    @include tamanhos(102px, 355px);

                    input{
                        @include tamanhos(65px, 350px);
                        border: 2px solid $border;
                        border-radius: 6px;
                        font-size:23px;
                        padding: 15px;
                        margin-left: 5px;
                    }
                }
                
                #data{
                    @include tamanhos(102px, 241px);

                    input{
                        @include tamanhos(65px, 222px);
                        font-size:23px;
                        padding: 10px;
                        border: 2px solid $border;
                        border-radius: 6px;
                        margin-left: 19px;
                    }
                    
                }

            }
        

            #anexar-caminho{
                @include tamanhos(65px, 850px);
                @include displayFlex(row, space-between);
                margin-top: 30px;
            
                input[type="file"] {
                    display: none;
                }

                label {
                    @include textoEstilo(grau9, semiBold, $text);
                    padding: 22px 10px;
                    width: 230px;
                    background-color: $deepSaffron;
                    text-align: center;
                    display: block;
                    cursor: pointer;
                    border-radius: 6px;
                }

               
                #caminho{
                    @include tamanhos(65px, 449px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    background-color: #FFFFFF;

                    p{
                        @include textoEstilo(grau9, regular, $text);
                        padding-top: 15px;
                        padding-left: 30px;
                    }
                }
         
            }

            #proximo {
                display:flex;
                justify-content:flex-end;
                padding-top:40px;
                gap: 10px;
                
                #buttonCadastrar{
                    background-color: $tartOrange;
                }

                #formButton {
                    @include tamanhos(75px, 250px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    font-size:30px;
                    font-weight: map-get($densidade, medium);
                    cursor: pointer;

                    &:hover {
                        transition: .5s;
                        opacity: 0.8;
                    }
                }
        
            }
        }

        #container-conteudo-detalhes-do-endereco{
            @include tamanhos(418px, inherit);
            display: none;
            
            #primeira-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #cep{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 158px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }

                #estado{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }

                #cidade{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }

            
            #segunda-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #bairro{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }

                    input{
                        @include tamanhos(65px, 288px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
                #rua{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 251px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
                #numero{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 130px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }

            #terceira-fileira{
                @include tamanhos(104px, 850px);
                @include displayFlex(row, space-between);

                #complemento{
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                    }
                    input{
                        @include tamanhos(65px, 850px);
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }

            #quarta-fileira{
                @include displayFlex(row, );
                display: flex;
                gap: 20px;
                justify-content: flex-end;
                padding-top: 30px;
                
                button{
                    @include tamanhos(75px, 250px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    font-size:30px;
                    font-weight: map-get($densidade, medium);
                    cursor: pointer;

                    &:hover {
                        transition: .5s;
                        opacity: 0.8;
                    }
                }

                #atualizarEnderecos{
                    @include tamanhos(75px, 250px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    font-size:30px;
                }

            }
        }

        #senha{
            @include displayFlex(column);
            display: none;
            @include tamanhos(315px, inherit);

            h1{
                @include textoEstilo(grau7, semiBold, $text);
            }

            #editar-senha{
                @include displayFlex(column);
                // padding: 15px;

                #senha-atual{
                    
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                        padding-bottom: 10px;
                    }
                    input{
                        @include textoEstilo(grau9, medium, $text);
                        @include tamanhos(65px, 850px);
                        padding: 10px;
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                    }
                }

                #nova-confirmar{
                    @include displayFlex(row, space-between);
                    @include tamanhos(auto, 850px);
                    padding-top: 20px;

                    #nova-senha{
                        
                        h3{
                            @include textoEstilo(grau9, regular, $text);
                            padding-bottom: 10px;

                        }
                        input{
                            @include textoEstilo(grau9, medium, $text);
                            @include tamanhos(65px, 350px);
                            padding: 10px;
                            border: 2px solid $border;
                            border-radius:6px;
                            font-size:23px;
                            
                        }
                    }
                    #confirmar-senha{
                        // padding-left: 20px;
                        h3{
                            @include textoEstilo(grau9, regular, $text);
                            padding-bottom: 10px;
                        }
                        input{
                            @include textoEstilo(grau9, medium, $text);
                            @include tamanhos(65px, 350px);
                            padding: 10px;
                            border: 2px solid $border;
                            border-radius:6px;
                            
                        }
                    }
                }
               
            }

            #botao{
                width: 850px;
                @include displayFlex(row, space-between);
                align-items: center;
                justify-content: center;
                padding-top: 30px;
          
                

                #butao-editar{

                    button{
                        @include tamanhos(75px, 250px);
                        border: 1px ;
                        border-radius: 6px;
                        background-color: $deepSaffron;
                        font-size:30px;
                        font-weight: map-get($densidade, medium);
                        cursor: pointer;
    
                        &:hover {
                            transition: .5s;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        #conta{
            @include displayFlex(column);
            display: none;
            
            h2{
                @include textoEstilo(grau8, medium, $text);
                width: 850px;
                line-height: 1.5;
            }

            #Botao{
                width: 850px;
                display: flex;
                justify-content: center;
                padding:25px;

                button{
                    @include tamanhos(75px, 250px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    font-size:30px;
                    font-weight: map-get($densidade, medium);
                    cursor: pointer;

                    &:hover {
                        transition: .5s;
                        opacity: 0.8;
                    }
                }
            }
        }

        #contatos{
            @include displayFlex(column,);
            display: none;
            @include tamanhos(285px, 850px);

            h1{
                @include textoEstilo(grau7, semiBold, $text);
            }

            #contatos-tel-cel{
                @include displayFlex(row,space-between);
                padding-top: 20px;
               
                #telefone{
                    @include displayFlex(column,);
                    @include tamanhos(auto, 355px);
                        
                    h3{
                        @include textoEstilo(grau9, regular, $text);
                        padding-bottom: 10px;

                    }
                    input{
                        @include textoEstilo(grau9, medium, $text);
                        @include tamanhos(65px, 350px);
                        padding: 10px;
                        border: 2px solid $border;
                        border-radius:6px;
                        font-size:23px;
                        
                    }
                
                }
                    
                #celular{
                    // padding-left: 20px;
                    @include tamanhos(auto, 355px);
                    padding-left: 143px;
                    
                    
                    h3 {
                        @include textoEstilo(grau9, regular, $text);
                        padding-bottom: 10px;
                    }

                    input {
                        @include textoEstilo(grau9, medium, $text);
                        @include tamanhos(65px, 350px);
                        padding: 10px;
                        border: 2px solid $border;
                        border-radius:6px;
                        
                    }
                
                }
               
            }

            #botao{
                width: 850px;
                @include displayFlex(row, space-between, $gap: 25px);
                align-items: flex-end;
                justify-content: flex-end;
                margin-top: 45px;

                #butao-editar-contatos{

                    button{
                        @include tamanhos(75px, 250px);
                        border: 1px ;
                        border-radius: 6px;
                        background-color: $deepSaffron;
                        font-size:30px;
                        font-weight: map-get($densidade, medium);
                        cursor: pointer;
    
                        &:hover {
                            transition: .5s;
                            opacity: 0.8;
                        }
                    }
                }

                #botao-Finalizar{
                    padding-left: 20px;
                    
                    
                    button{
                        @include tamanhos(75px, 250px);
                        border: 1px ;
                        border-radius: 6px;
                        background-color: $deepSaffron;
                        font-size:30px;
                        font-weight: map-get($densidade, medium);
                        cursor: pointer;
    
                        &:hover {
                            transition: .5s;
                            opacity: 0.8;
                        }
                    }
                }
            }

        }
    }
  

}  

#direita{
    min-height: 500px;
    @include tamanhos(auto, 280px);
    @include displayFlex(column, $gap: 20px);

    #status-seguidores {
        @include tamanhos(30px, inherit); 
        @include displayFlex($justify: space-between, $align: center);
        padding-left: 20px;
        padding-right: 20px;

        h2 {
            @include textoEstilo(grau9, medium, $placeholder);             
        }

        span {
            @include tamanhos(28px, 52px);
            @include displayFlex(row, center, center);
            @include textoEstilo(grau10, semiBold, $text);
            background-color: $deepSaffron;
            padding-right: 3px;
            border-radius: 25px;
        }
    }
  
    #container-direita {
        min-height: 430px;
        @include tamanhos(auto, inherit);
        @include displayFlex(column, $gap: 20px);
        padding: 12px 10px 15px;
            
            
    
        #mini-perfil-direita {
            @include tamanhos(auto, 261px);
            @include displayFlex(column);
            cursor: pointer;
            filter: $shadowMain;
            border-radius: 20px;
            background: #FFFFFF;
            gap: 20px;
            padding: 15px ;
            
            
            img {
                @include tamanhos(60px, 60px);
                border-radius: 50%;
                margin-left: 8px;
                margin-right: 8px;
            }
    
            h3 {
                @include textoEstilo(grau9, semiBold, $text, capitalize);
                white-space: nowrap;
            }
            p{
                @include textoEstilo(grau10, semiBold, $placeholder, capitalize);
                
            }

            .perfil-direita{
                @include tamanhos(60px, 164px);
                @include displayFlex(row, $align: center, $gap: 18px);

                .nome-perfil{
                    @include displayFlex(column);
                }
            }
          
        }

        #img-amplifica{
            align-self: center;
            padding-top: 20px;

            img{
                @include tamanhos(15px, 25px);
            }
        }

    }
}  
// MODAL EDITAR BANNER E PERFIL
.modalEditar{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

    #EditarBannerFoto{
        @include tamanhos(469px, 850px);
        @include displayFlex(row, );
        border: 1px   solid $placeholder;
        border-radius:20px;
        background-color: #E4E6EB;
        padding: 30px;
        

        #esquerda{
            @include displayFlex(column,);
            @include tamanhos(430px, 316px);
        

            #editarPerfil{
                @include tamanhos(auto, inherit);
                @include displayFlex(center, center);
                cursor: pointer;

                label {
                    @include tamanhos(120px, 120px); 
                    border-radius: 50%;
                    display: block;

                    img {
                        cursor: pointer;
                        @include tamanhos(inherit, inherit);
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                input[type='file'] {
                    display: none
                }
            }

            #tituloFotoPerfil{
                @include tamanhos(296px, 316px);
                
            
                
                h2{
                    @include tamanhos(37px, inherit);
                    @include displayFlex(center, center);
                    @include textoEstilo(grau7, semiBold, $text);
                    padding-top: 10px;
                }
            }
        }
        #Direita{
            @include tamanhos(430px, 463px);
            @include displayFlex(column);
        

            #editarBanner{
                @include tamanhos(auto, 463px);
                @include displayFlex(center, center);
                cursor: pointer;
                
                label {
                    @include tamanhos(227px, 414px); 
                    border-radius: 6px;
                    display: block;

                    img {
                        cursor: pointer;
                        @include tamanhos(inherit, inherit);
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                input[type='file'] {
                    display: none
                }

            }
            #tituloBannerPerfil{
                @include tamanhos(auto, 463px);
                @include displayFlex(center, center);
                

                    h2{
                        @include textoEstilo(grau7, semiBold, $text);
                        padding-top: 10px
                    }
            }
            #botaoAlterar{
                @include tamanhos(140px, 465px);
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                gap: 10px;

                #botaoSairEditar{
                    background-color: $deepSaffron;
                }

                button{
                    @include tamanhos(65px, 180px);
                    @include textoEstilo(grau8, semiBold, $text);
                    background-color: $deepSaffron;
                    border: 1px ;
                    border-radius:6px;
                    cursor: pointer;
                
                    

                }
            }
        }

    }
}

.modalEditar.bg-active{
    visibility: visible;
    opacity: 1;
    z-index: 1;
}