@import '_variaveis';
@import '_mixins';
@import '_resert';

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    @include displayFlex(row, space-between);
    padding: 39px 29px 39px 29px;
    background-color: $background;
}

#esquerda {
    min-height: 800px;
    @include tamanhos(auto, 279px);
    @include displayFlex(column, $gap: 35px);

    #logo {
        @include tamanhos(87px, 276px);
        position: relative;

        img {
            @include tamanhos(inherit, inherit);
            position: absolute;
            top: -8px;
            right: 16px;
        }
    }

    #conteudo-header {
        min-height: 500px;
        @include tamanhos(auto, 279px);
        @include displayFlex(column);

        #mini-perfil {
            @include tamanhos(112px, inherit);
            @include displayFlex($align: center);
            background: #FFFFFF;
            filter: $shadowMain;
            border-radius: 20px;
            cursor: pointer;

            img {
                @include tamanhos(75px, 75px);
                border-radius: 50%;
                margin-left: 8px;
                margin-right: 8px;
            }

            h3 {
                @include textoEstilo(grau9, semiBold, $text, capitalize);
            }
        }

        #menu {
            @include tamanhos(485px, 279px);
            background: #FFFFFF;
            filter: $shadowMain;
            border-radius: 20px;
            margin-top: 45px;

            ul {
                @include tamanhos(inherit, inherit);
                @include displayFlex(column, space-around);
                padding: 15px 0 15px;

                li {
                    @include tamanhos(65px, inherit);
                    @include displayFlex(row-reverce, $align: center, $gap: 18px);

                    &:hover {
                        background-color: $background;
                    }

                    img {
                        @include tamanhos(35px, 35px);
                        margin-left: 26px;
                    }

                    a {
                        @include textoEstilo(grau8, regular, $placeholder, capitalize, -0.02px);
                    }

                }
            }
        }
    }
}

#centro {
    min-height: 500px;
    @include tamanhos(auto, 850px);
    @include displayFlex(column, space-between);

    #banner {
        @include tamanhos(323px, inherit);
        @include displayFlex(row, center, center);

        img {
            @include tamanhos(inherit, inherit);
            border-radius: 6px;
        }
    }

    #meu-perfil {
        min-height: 112px;
        @include tamanhos(auto, inherit);
        @include displayFlex(row, $gap: 220px);
        padding-left: 25px;
        position: relative;

        #minha-foto-perfil {
            position: relative;
            border-radius: 50%;

            img {
                @include tamanhos(205px, 205px);
                border-radius: 50%;
                outline: 10px solid $background;
                position: absolute;
                top: -92px;
            }
        }

        #conteudo-perfil-centro {
            @include tamanhos(inherit, inherit);
            @include displayFlex(row, space-between);
            padding-top: 5px;

            #info-esquerda {
                min-width: 270px;
                @include tamanhos(inherit, auto);
                @include displayFlex(column, $gap: 23px);

                #nome-qtda-seguidores {
                    @include displayFlex(column, $gap: 1px);

                    h1 {
                        @include textoEstilo(grau7, bold, $text);
                    }

                    h2 {
                        @include textoEstilo(grau11, semiBold, $placeholder);
                    }
                }

                #todas-categorias-perfil {
                    min-width: 30px;
                    @include tamanhos(auto, 270px);
                    @include displayFlex(row, space-between, flex-end, $gap: 5px, $wrap: wrap);

                    .categoria {
                        min-width: 81px;
                        @include tamanhos(30px, auto);
                        @include displayFlex(row, center, center);
                        border-radius: 6px;
                        background-color: $tartOrange;
                        cursor: default;
                        padding: 0 5px 0 5px;

                        span {
                            font-size: 0.85rem;
                            font-weight: map-get($densidade, semiBold);
                            text-transform: capitalize;
                        }
                    }
                }
            }

            #info-direito {
                @include tamanhos(107px, 270px);
                @include displayFlex(column, space-between, center);

                #opcoes-info {
                    @include tamanhos(30px, inherit);
                    @include displayFlex(row, space-between, center);
                    padding-top: 11px;

                    .opcoes {
                        @include tamanhos(inherit, auto);
                        @include displayFlex(row, $align: center, $gap: 8px);
                        cursor: pointer;

                        img {
                            @include tamanhos(30px, 30px);
                        }

                        span {
                            @include textoEstilo(grau9, bold, $text, capitalize);
                        }
                    }
                }

                button {
                    @include tamanhos(50px, 187px);
                    @include displayFlex(row, $align: center, $gap: 12px);
                    font-size: 1.250rem;
                    font-weight: map-get($densidade, semiBold);
                    color: $text;
                    text-transform: capitalize;
                    padding: 0 15px 0 17px;
                    background-color: $deepSaffron;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        transition: .5s;
                        opacity: 0.8;
                    }
                }
            }

        }
    }

    #menu-opcoes-perfil {
        @include tamanhos(33px, inherit);
        @include displayFlex(row, space-between, flex-start);
        margin-top: 49px;
        margin-bottom: 49px;

        ul {
            @include tamanhos(inherit, 750px);
            @include displayFlex(row, space-between, $gap: 10px);

            li {
                @include tamanhos(inherit, auto);
                @include displayFlex(column, space-between, flex-start);

                span {
                    font-size: 1.250rem;
                    font-weight: map-get($densidade, semiBold);
                    color: $text;
                    text-transform: capitalize;
                    cursor: pointer;

                    &:hover {
                        border-bottom: 4px solid $tartOrange;
                    }
                }

                // .barra {
                //     height: 4px;
                //     width: 50px;
                //     background-color: $tartOrange;
                //     border-radius: 20px;
                // }
            }
        }

        #troca-de-menus {
            @include tamanhos(inherit, 41px);
            @include displayFlex(row, $align: center);
            padding-bottom: 10px;

            img {
                @include tamanhos(24px, 24px);
                cursor: pointer;
            }
        }
    }

    #container-conteudo {
        min-height: 717px;
        @include tamanhos(auto, inherit);
        @include displayFlex(column);
        background-color: yellow;

        #conteudo-inicio {
            min-height: 332px;
            @include tamanhos(auto, inherit);
            @include displayFlex(column, $gap: 40px);

            #conteudo-sobre {
                @include tamanhos(345px, inherit);
                @include displayFlex(column, space-between);
                padding: 30px;
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;
    
                #texto-sobre {
                    @include tamanhos(auto, 780px);
                    p {
                        @include textoEstilo(grau9, medium, $text);
                    }
                }
    
                #conteudo-info-sobre {
                    @include tamanhos(138px, 331px);
                    @include displayFlex(column, space-between);
    
                    .info-sobre {
                        @include tamanhos(auto, 400px);
                        @include displayFlex(row, $gap: 10px);
    
                        h2 {
                            @include textoEstilo(grau9, medium, $text);
                        }
    
                        span {
                            font-size: map-get($size, grau9);
                            font-weight: 520;
                            color: $text;
                        }
                    }
                }
    
            }

            #container-conteudo-historia {
                min-height: 362px;
                @include tamanhos(auto, inherit);
                @include displayFlex(column);
                padding: 30px;
                background: #FFFFFF;
                filter: $shadowMain;
                border-radius: 20px;
        
                h1 {
                    @include textoEstilo(grau8, semiBold, $text);
                    line-height: 2;
                }
        
                p {
                    @include textoEstilo(grau9, medium, $text);
                    margin-top: 0.6rem;
        
                    span {
                        @include textoEstilo(grau9, bold, $text);
                        text-decoration: underline;
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
    
            #conteudo-patrocinios {
                min-height: 238px;
                @include tamanhos(auto, inherit);
                @include displayFlex(column, $gap: 38px);
                background-color: #FFFFFF;
                padding: 30px;
                filter: $shadowMain;
                border-radius: 20px;
        
                h2 {     
                    @include textoEstilo(grau8, semiBold, $text);
                }
        
                #todos-patrocinios {
                    @include tamanhos(inherit, 780px);
                    @include displayFlex(row, space-between, $wrap: wrap, $gap: 30px);
        
                    .patrocinador {
                        @include tamanhos(92px, auto);
                        @include displayFlex(column, center, center, $gap: 8px);
        
                        img {
                            @include tamanhos(80px, 80px);
                        }
        
                        span {
                            font-size: 1.2rem;
                            font-weight: map-get($densidade, medium);
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }

    #container-conteudo-detalhes-conta{        
        @include tamanhos(550px, 850px);
        padding: 30px;
        background: #FFFFFF;
        filter: $shadowMain;
        border: 1px;
        border-radius: 20px;
        
       
        #nome{
            @include tamanhos(102px, 779px);
            gap: 100px;
          
            label{
                @include textoEstilo(grau9, regular, $text);
            }
            input{
                @include tamanhos(65px, 773px);
                border: 2px solid $border;
                border-radius: 6px;
                font-size:18px;
                padding: 15px;
            }
        }
        #email-data{
            @include tamanhos(102px, 779px);
            @include displayFlex(row, space-between, center);

            label{
                @include textoEstilo(grau9, regular, $text);
                
            }
            #email{
                @include tamanhos(102px, 355px);
            

                input{
                    @include tamanhos(65px, 350px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    font-size:18px;
                    padding: 15px;
                }
            }
            #cnpj{
                @include tamanhos(102px, 359px);
                padding: 0px 0px 10px;
              
                label{
                    @include textoEstilo(grau9, regular, $text);
                    @include tamanhos(28px, 62px);
                    

                }
               
                input{
                    @include tamanhos(65px, 350px);
                    border: 2px solid $border;
                    border-radius: 6px;
                    font-size:18px;
                    padding: 15px;
                }
            }

        }
        #celular-telefone{
            @include tamanhos(102px, 779px);
            @include displayFlex(row, space-between, center);
           
            

            label{
                @include textoEstilo(grau9, regular, $text);
            }
            #celular{
                @include tamanhos(102px, 355px);

                input{
                    @include tamanhos(65px, 350px);
                    border: 2px solid $border;
                     border-radius: 6px;
                    font-size:18px;
                    padding: 15px;

                    
                }
            }
            #telefone{
                @include tamanhos(102px, 359px);

                input{
                    @include tamanhos(65px, 350px);
                    font-size:18px;
                    padding: 15px;
                    border: 2px solid $border;
                    border-radius: 6px;
                }
                
            }
        }
        #proximo{
            display:flex;
            justify-content:flex-end;
           padding-top: 40px;
        
            button{
                @include tamanhos(65px, 230px);
                border: 2px ;
                border-radius: 6px;
                background-color: $deepSaffron;
                font-size: 30px;
                align-self: flex-end;
               
            }
        }


    }

    #container-conteudo-detalhes-do-endereco{
        
        @include tamanhos(500px, 850px);
        padding: 30px;
        background: #FFFFFF;
        filter: $shadowMain;
        border: 1px;
        border-radius: 20px;
          
        #primeira-fileira{
            @include tamanhos(104px, 770px);
            @include displayFlex(row, space-between, center); 

            #cep{
                @include tamanhos(104px, 159px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 158px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }

            #estado{
                @include tamanhos(104px, 296px);
                
                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 288px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }

            #cidade{
                @include tamanhos(101px, 260px);
                
                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 288px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }
        }

        
        #segunda-fileira{
            @include tamanhos(104px, 770px);
            @include displayFlex(row, space-between, center);

            #bairro{
                @include tamanhos(105px, 289px);
                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 288px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }
            #rua{
                @include tamanhos(105px, 258px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 251px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }
            #numero{
                @include tamanhos(105px, 144px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 130px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }
        }
        #terceira-fileira{
            @include tamanhos(104px, 770px);
            @include displayFlex(row, space-between);

            #complemento{
                @include tamanhos(105px, 770px);

                label{
                    @include textoEstilo(grau9,regular, $text);
                }
                input{
                    @include tamanhos(65px, 769px);
                    @include textoEstilo(grau9,regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 5px;
                }
            }
        }
        #quarta-fileira{
            @include displayFlex();
            justify-content: flex-end;
            padding-top: 40px;

            button{
                @include tamanhos(65px, 230px);
                @include textoEstilo(grau7,regular, $text);
                border: 1px ;
                border-radius: 6px;
                background-color: $deepSaffron;
                
            }

        }
    }

    #container-conteudo-meios-doacoes{
        @include tamanhos(500px, 850px);
        padding: 30px;
        background: #FFFFFF;
        filter: $shadowMain;
        border: 1px;
        border-radius: 20px;

        #fileira-doacoes{
            @include tamanhos(104px, 770px);
            @include displayFlex(row, space-between, center);

            #site{
                @include tamanhos(103px, 356px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 350px);
                    border: 2px solid $border;
                    border-radius:6px;
                    font-size:22px;
                    padding: 15px;
                }

            }
            #pix{
                @include tamanhos(103px, 357px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 350px);
                    border: 2px solid $border;
                    border-radius:6px;
                    font-size:22px;
                    padding: 15px;
                }

            }

        }
        #fileira-agencia{
            // background-color: blue;
            @include tamanhos(104px, 770px);
            @include displayFlex(row, space-between);

            #agencia{
                @include tamanhos(101px, 146px);
                
                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 142px);
                    @include textoEstilo(grau9, regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    
                    padding: 15px;
                }
            }
            #conta{
                @include tamanhos(103px, 357px);

                label{
                    @include textoEstilo(grau9, regular, $text);
                }
                input{
                    @include tamanhos(65px, 350px);
                    @include textoEstilo(grau9, regular, $text);
                    border: 2px solid $border;
                    border-radius:6px;
                    padding: 15px;
                }

            }
            #tipo {
                @include tamanhos(101px, 201px);
                @include displayFlex(row, space-between);
    
                #filtros-pesquisas {
                    @include tamanhos(88px, inherit);
                    @include displayFlex($gap: 45px);
    
                    #tipo-conta{
                        @include tamanhos(88px, 201px);
                        @include displayFlex(column, space-between);
    
                        label {
                            @include textoEstilo(grau9, medium, $text, $letter: -0.02em);
                        }
    
                        select {
                            @include tamanhos(65px, 194px);
                            @include textoEstilo(grau9, medium, $placeholder, $letter: -0.02em);
                            border: 2px solid $border;
                            border-radius: 6px;
                            padding: 0px 15px;
                            appearance: none;
                            -moz-appearance: none;
                            background: #fff url('../img/code.png') 95.5% 50% no-repeat;
    
                            option {
                                @include textoEstilo(grau9, medium, $placeholder, $letter: -0.02em);
                            }
                        }
        
        
        
        
                    }
              
                }
            }
        }

        #botao-proximo{
            display: flex;
            justify-content: flex-end;
            padding-top: 100px;
            button{
                @include tamanhos(65px, 230px);
                border: 1px ;
                border-radius: 6px;
                background-color: $deepSaffron;
                font-size:30px;
            }

        }

        
    }

    #container-conteudo-patrocinios{
        margin-top: 50px;
        @include tamanhos(550px, 850px);
        padding: 30px;
        background: #FFFFFF;
        filter: $shadowMain;
        border: 1px;
        border-radius: 20px;
        

        #editar-imagen{
            @include tamanhos(100px, 774px);
            @include displayFlex(row );
        }

        h2{
            @include textoEstilo(grau9, semiBold, $text);
            padding-top: 25px;
            padding-left: 10px;
        }
        #editar-nome-link{
            @include displayFlex(row, space-between);

            #nome-link{
                @include displayFlex(column);
                gap: 15px;

                #nome-do-patrocinador{
                    @include tamanhos(102px, 276px);
                    
                    label{
                        @include textoEstilo(grau9, regular, $text);
                        padding: 3px;
                        
                    }
                    input{
                        @include tamanhos(65px, 266px);
                        border: 2px solid $border;
                        padding-left: 10px;

                        &::placeholder{
                            @include textoEstilo(grau9, regular, $border);
                            padding: 5px;

                        }
                    }
                }
                #link-do-site{
                    @include tamanhos(102px, 276px);
                    @include displayFlex(column);

                    label{
                        @include textoEstilo(grau9, regular, $text);
                        padding: 3px;

                    }

                    input{
                        @include tamanhos(65px, 266px);
                        border: 2px solid $border;
                        padding-left: 10px;

                        &::placeholder {
                            @include textoEstilo(grau9, regular, $border);
                            padding: 5px;
                        }
                    }
                }
            }
            #container-principal{
                @include tamanhos(271px, 317px);
        
                .container{
                    @include tamanhos(87px, 317px);
                    @include displayFlex(row);
                    border: 2px solid $border;

                    .imagens{
                        padding: 5px;

                    }

                    .nome{
                        h2{
                            @include textoEstilo(grau9, Montserrat, $text);
                           
                        }
           
                    }
                    
                }

            }
           
        }
        #botoes{
            @include displayFlex(row);
            @include tamanhos(50px, 397px);
            padding: 20px;
            gap: 40px; 
            background-color: blue;
            

            #botao-adicionar{
                @include tamanhos(55px, 185px);
                

                button{
                    @include textoEstilo (grau9, semiBold, $text);
                    @include tamanhos(55px, 185px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    }
            }
            #botao-finalizar{
                @include tamanhos(55px, 185px);
                @include displayFlex();
             
                

                button{
                    @include textoEstilo (grau9, semiBold, $text);
                    @include tamanhos(55px, 185px);
                    border: 1px ;
                    border-radius: 6px;
                    background-color: $deepSaffron;
                    justify-content: center;
                    }
            }
        }


    }
}

#direita {
    min-height: 500px;
    @include tamanhos(auto, 322px);
    @include displayFlex(column, $gap: 20px);

    #info-seguidores {
        @include tamanhos(30px, inherit); 
        @include displayFlex($justify: space-between, $align: center);
        padding-left: 20px;
        padding-right: 20px;

        h3 {
            @include textoEstilo(grau9, medium, $placeholder);             
        }

        span {
            @include tamanhos(28px, 52px);
            @include displayFlex(row, center, center);
            @include textoEstilo(grau10, semiBold, $text);
            background-color: $deepSaffron;
            padding-right: 3px;
            border-radius: 25px;
        }
    }

    #container-direita {
        min-height: 430px;
        @include tamanhos(auto, 322px);
        @include displayFlex(column, $gap: 20px);
        background: #FFFFFF;
        filter: $shadowMain;
        border-radius: 20px;
        padding: 15px;

        .perfil-direita {
            min-width: 164px;
            @include tamanhos(60px, auto);
            @include displayFlex(row, $align: center, $gap: 14px);

            img {
                @include tamanhos(60px, 60px);
                border-radius: 50%;
            }

            div {
                min-width: 92px;
                @include tamanhos(50px, auto);
                @include displayFlex(column);

                h3 {
                    @include textoEstilo(grau9, semiBold, $text, capitalize);
                    white-space: nowrap;
                }
    
                p {
                    @include textoEstilo(grau10, semiBold, $placeholder, capitalize);
    
                }
            }
        }

        img {
            @include tamanhos(35px, 35px);
            align-self: center;
            cursor: pointer;
        }
    }
}    