* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 30px;
  background-color: #F8F9FA;
}

#container {
  min-height: 500px;
  height: auto;
  width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#container #mini-perfil {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  cursor: pointer;
}

#container #mini-perfil img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

#container #mini-perfil h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
}

#container #menu {
  height: 485px;
  width: 279px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  margin-top: 45px;
}

#container #menu ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 15px 0 15px;
}

#container #menu ul li {
  height: 65px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#container #menu ul li:hover {
  background-color: #F8F9FA;
}

#container #menu ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

#container #menu ul li a {
  font-size: 1.563rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: -0.02px;
}

#centro #perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  position: relative;
}

#centro #perfil #foto-perfil {
  height: 175px;
  width: 175px;
  position: absolute;
  top: -75px;
  left: 20px;
}

#centro #perfil #foto-perfil #foto {
  height: inherit;
  width: inherit;
  background-image: url("../img/perfil-usuario-foto.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 6px solid #F8F9FA;
}

#centro #perfil #conteudo-perfil-centro {
  padding-left: 200px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: auto;
  width: 501px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton titulos-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton titulos-perfil h1 {
  font-size: 1.813rem;
  font-weight: 700;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  padding-top: 10px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton titulos-perfil h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: none;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #botao {
  padding-top: 20px;
}

#centro #perfil #conteudo-perfil-centro #containerNameandButton #botao button {
  height: 50px;
  width: 200px;
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  border: 1px;
  border-radius: 10px;
  background: #FF9F45;
  cursor: pointer;
}

#centro ul {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: space-around;
          flex-direction: space-around;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding: 30px 20px 15px;
}

#centro ul li + li {
  margin-left: 1.5em;
}

#centro ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row-reverce;
          flex-direction: row-reverce;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#centro ul li img {
  height: 35px;
  width: 35px;
  margin-left: 26px;
}

#centro ul li a {
  font-size: 1.313rem;
  font-weight: 400;
  color: #8C8C8C;
  text-transform: -0.02px;
  letter-spacing: none;
  cursor: pointer;
}

#centro ul li:hover {
  border-bottom: 5px solid #FC595E;
}

#centro .item {
  display: none;
}

#centro .aparecer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#centro #container-conteudo #container-conteudo-sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  height: 344px;
  width: 766px;
  padding: 20px;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border: 1px;
  border-radius: 10px;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario h3 + h3 {
  margin-top: 1.0em;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario h3 {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  font-weight: 450;
}

#centro #container-conteudo #container-conteudo-sobre #sobre-usuario h3 span {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  font-weight: 520;
}

#centro #container-conteudo #container-conteudo-sobre #anexo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  padding-top: 50px;
  padding-left: 35px;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h2 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #FF9F45;
  text-transform: none;
  letter-spacing: none;
  font-weight: 550;
  text-decoration: underline;
  cursor: pointer;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h3 {
  font-size: 1.313rem;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-left: 210px;
  font-weight: 450;
}

#centro #container-conteudo #container-conteudo-sobre #anexo h3 span {
  font-weight: 520;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta {
  height: auto;
  width: 770px;
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome {
  height: 98px;
  width: 766px;
  margin-top: 30px;
  background-color: red;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #nome input {
  height: 65px;
  width: 761px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data {
  height: 102px;
  width: 766px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background-color: yellow;
  margin-top: 20px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #email {
  height: 102px;
  width: 355px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #email input {
  height: 65px;
  width: 350px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #data {
  height: 102px;
  width: 241px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #email-data #data input {
  height: 65px;
  width: 222px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone {
  height: auto;
  width: 766px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone #celular {
  height: 102px;
  width: 355px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone #celular input {
  height: 65px;
  width: 350px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 18px;
  padding: 15px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone #telefone {
  height: 102px;
  width: 359px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #celular-telefone #telefone input {
  height: 65px;
  width: 350px;
  font-size: 18px;
  padding: 15px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho {
  height: 65px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho input[type="file"] {
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho label {
  padding: 20px 10px;
  width: 200px;
  background-color: #FF9F45;
  color: #292929;
  text-align: center;
  display: block;
  cursor: pointer;
  font-weight: 450;
  border-radius: 6px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho #caminho {
  height: 65px;
  width: 449px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  background-color: #FFFFFF;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #anexar-caminho #caminho p {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
  padding-top: 15px;
  padding-left: 30px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 40px;
}

#centro #container-conteudo #container-conteudo-detalhes-de-conta #proximo button {
  height: 75px;
  width: 250px;
  border: 2px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco {
  height: 485px;
  width: 770px;
  display: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cep h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cep input {
  height: 65px;
  width: 158px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #estado h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #estado input {
  height: 65px;
  width: 288px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #primeira-fileira #cidade input {
  height: 65px;
  width: 288px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #bairro input {
  height: 65px;
  width: 288px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #rua h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #rua input {
  height: 65px;
  width: 251px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #numero h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #segunda-fileira #numero input {
  height: 65px;
  width: 130px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira {
  height: 104px;
  width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento h3 {
  font-size: 1.313rem;
  font-weight: 400;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #terceira-fileira #complemento input {
  height: 65px;
  width: 769px;
  border: 2px solid #8C8C8C;
  border-radius: 6px;
  font-size: 22px;
  padding: 5px;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#centro #container-conteudo #container-conteudo-detalhes-do-endereco #quarta-fileira button {
  height: 75px;
  width: 250px;
  border: 1px;
  border-radius: 6px;
  background-color: #FF9F45;
  font-size: 30px;
}

#direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita #status-seguidores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  letter-spacing: .0,5rem;
}

#direita #status-seguidores h2 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: none;
  letter-spacing: none;
}

#direita #status-seguidores #numero-seguidores {
  height: 22px;
  width: 52px;
  border: 1px;
  border-radius: 10px;
  background-color: #FF9F45;
  text-align: center;
}

#direita #status-seguidores #numero-seguidores p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #292929;
  text-transform: none;
  letter-spacing: none;
}

#direita #container-direita {
  min-height: 430px;
  height: auto;
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  background: #FFFFFF;
  -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.06));
  border-radius: 20px;
  padding: 12px 10px 15px;
}

#direita #container-direita #mini-perfil-direita {
  height: 112px;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  cursor: pointer;
  gap: 20px;
  padding: 15px 5px 15px;
}

#direita #container-direita #mini-perfil-direita img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

#direita #container-direita #mini-perfil-direita h3 {
  font-size: 1.313rem;
  font-weight: 600;
  color: #292929;
  text-transform: capitalize;
  letter-spacing: none;
  white-space: nowrap;
}

#direita #container-direita #mini-perfil-direita p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #8C8C8C;
  text-transform: capitalize;
  letter-spacing: none;
}

#direita #container-direita #mini-perfil-direita .perfil-direita {
  height: 60px;
  width: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 18px;
}

#direita #container-direita #mini-perfil-direita .perfil-direita .nome-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

#direita #container-direita #img-amplifica {
  padding-left: 100px;
  padding-top: 20px;
}

#direita #container-direita #img-amplifica img {
  height: 35px;
  width: 35px;
}
/*# sourceMappingURL=perfilUsuario.css.map */